[2018-09-27 16:03] pgaudet opened #827 "gorule-0000028 Check and fix aspect based on GOID should be a REPAIR"
Currently it's just a report. Please add a REPAIR.

Thanks, Pascale

[2018-09-27 16:37] pgaudet commented on #790
@dougli1sqrd
Can I change the format of the GO_refs to add which evidence codes are allowed ? Would that be a way to provide the information?

See for ex:
https://github.com/geneontology/go-site/blob/master/metadata/gorefs/goref-0000037.md

---
authors: UniProt-GOA
external_accession:
  - "SGD_REF:S000148671 "
id: GO_REF:0000039
year: 2011
layout: goref
**+ ADD evidence_codes: ECO:000314, ECO:0002

[2018-09-27 17:57] kltm commented on #582
Can you describe the the exact redirect that you're wanting?

[2018-09-27 19:18] pgaudet commented on #582
Redirect the GO website pages for individual ECOs
-> the corresponding wiki pages.

[2018-09-27 20:30] kltm commented on #582
Is this as a bandaid on the current site, or intended as a longer solution. I believe we do not want the general public going to the wiki. For example: https://github.com/geneontology/go-site/issues/582#issuecomment-413321542

[2018-09-27 21:28] pgaudet commented on #582
We do want the wiki to be accessible for the public. What we wanted was general, simple documentation on the website, and if users want additional details, they are directed to the wiki.
This is how @vanaukenk @ukemi and I have been writing up the documentation.

Is this not possible?

Thanks, Pascale

[2018-09-27 21:31] pgaudet commented on #621
@cmungall Who will do that ?

[2018-09-27 22:20] kltm commented on #582
We can do anything; if you give me a list of exact redirects, we can start putting those in to the old site.
I want to confirm that the inconsistencies in the wiki (enumerated in my comment above) are really worrying from the perspective of users coming in. I just want to make sure that we are okay with exposing what we currently have there.

[2018-09-28 09:27] pgaudet commented on #582
@kltm We added links back to the GO website (ECO overview page) on all the individual wiki pages for each ECO.

**Redirects needed:**

http://geneontology.org/page/automatically-assigned-evidence-codes -> http://wiki.geneontology.org/index.php/Inferred_from_Electronic_Annotation_(IEA)
http://geneontology.org/page/ic-inferred-curator -> http://wiki.geneontology.org/index.php/Inferred_by_Curator_(IC

[2018-09-28 20:44] kltm commented on #582
Bleh. We'll need redo this as (preferably) redirect pages in the new site as well.
Doing as 302s for now.

[2018-09-28 20:54] kltm commented on #582
I think I got them all; there should be a cache refresh for these pages 6hrs from now.

[2018-10-01 18:57] pgaudet opened #835 "New GO rule: Rules for contents of column 17"
From
https://github.com/geneontology/go-ontology/issues/12138

Column 17 should only contain a more specific version of Col2
(@vanaukenk perhaps you can help formulate the rule?)

Thanks, Pascale

[2018-10-01 22:42] dougli1sqrd commented on #821
http://snapshot.geneontology.org/reports/gorule-report.html
This shows paint.

[2018-10-01 22:42] #821 closed

[2018-10-02 07:18] pgaudet commented on #821
Thanks !!! Awesome.

I was envisioning a single PAINT report - can they be concatenated  into a single file ?

[2018-10-02 07:22] pgaudet opened #836 "gorule-0000027 should allow DOIs"
gorule-0000027 doesn't seem to allow DOIs, see for eg: http://snapshot.geneontology.org/reports/wb-report.html#gorule-0000027

Or is it that the format is incorrect ?

Thanks, Pascale

[2018-10-02 14:23] kltm opened #837 "Add GAF header information to general report"
Currently, on the general GAF report page for a specific file, there is no header information to help orient readers.
This ticket would be closed on a GAF header pass-through.

[2018-10-02 15:46] pgaudet opened #838 "New gorule-0000036: annotation to x and regulation of x; as well as MF + regulation of MF"
See https://www.uniprot.org/uniprot/Q7Z7L7 as an example

[2018-10-02 21:10] kltm commented on #491
This will go out with the new site.

[2018-10-03 00:10] dougli1sqrd commented on #699
https://github.com/biolink/ontobio/pull/252

[2018-10-03 10:30] pgaudet commented on #491
I'll try adding my comment here:

Species: Can we change the names in parenthesis to be more easy to understand ?
Databases: Can we link the name of the database instead of having it twice ?
(for eg: "dictyBase (dictybase, Ddis)" would become
dictyBase, Dictyostelium discoideum

Thanks, Pascale

[2018-10-03 18:14] dougli1sqrd commented on #739
A term being obsolete is different I think than an ID that just doesn't exist in the ontology. Like, GO:9999999 I don't think exists as a term. This is what that sentence means, as far as I can tell.

[2018-10-03 21:02] #718 closed

[2018-10-03 23:03] dougli1sqrd commented on #739
https://github.com/biolink/ontobio/pull/250
This at least checks that ID prefixes exist in the db xref yaml, and that the contributor is in groups.yaml. This is a pretty good improvement from before, and is a good point to be at for now. This still doesn't check the id part against what is expected in dbxref (regex, digit counting, etc).

[2018-10-04 10:41] pgaudet opened #842 "Add GO release stats to pipeline"
Hello,

It'd be really useful to have release stats at each GO release (snapshots too, so we could look for anomalies before official releases).

We use to have a lot of queries from GOOSE (I guess), here:
http://geneontology.org/page/go-mysql-database-schema-views

[2018-10-04 10:41] pgaudet commented on #842
Full list is:
go_annotation_reports

    annotated_publication_total
    annotated_publication_total_by_evidence_code_non_additive
    annotated_total_gps_by_evidence_code_non_additive
    association_contradiction
    association_contradiction_count_by_ontology
    association_contradiction_direct
    association_contradiction_direct_count_by_ontology
    association_count_by_association_qualifie

[2018-10-04 13:58] pgaudet commented on #551
The link to the old report is offline: http://build.berkeleybop.org/job/gaf-check-sgd/239/console
So it looks like it's not possible to do this.

[2018-10-04 14:02] pgaudet commented on #820
Nice !

[2018-10-04 14:04] pgaudet opened #843 "GORULE:0000027 is incorrectly reporting DOIs"
DOIs do contain colons, periods and slashes, for eg DOI:10.1007/BF00127499

These are incorrectly reported as errors, see
http://snapshot.geneontology.org/reports/fb-report.html#gorule-0000027

Thanks, Pascale

[2018-10-04 14:07] pgaudet commented on #739
The rule is not only checking the prefix; it's also checking special characters  (see #843); I am not sure this is useful (maybe?)

If we want to leave it like that we need to explain other checks that occur for this rule (ie edit the gorule-0000027.md file).

Thanks, Pascale

[2018-10-04 14:43] pgaudet opened #844 "gorule-0000020 report should be sorted into ERROR, then WARNING"
gorule-0000020 does 2 things:

1. Repair obsolete terms with a replaced_by tag, as well as merged terms with their new their primary IDs, anywhere in the file (including GO:ID (Col 5); with/from (Col 8), and annotation extensions (Col 16)
2. Report obsolete terms with no replaced_by tag.

@dougli1sqrd Should I edit the md file to describe this?

Thanks, Pascale

[2018-10-04 14:45] pgaudet commented on #699
Is this implemented then ?

[2018-10-04 17:32] kltm commented on #842
@pgaudet

Some stats are currently calculated as part of AmiGO rollouts. If you could make a list of stats that you'd like to see, we could provide them in the pipeline.

Your list is essentially a schema (view) dump, not a report list - nothing here was provided, except as shortcuts for AmiGO and GOOSE.

[2018-10-04 17:37] kltm commented on #551
@pgaudet on your request ;)

[2018-10-04 17:40] kltm commented on #843
DOIs are fun!
https://www.crossref.org/blog/dois-and-matching-regular-expressions/

[2018-10-04 18:39] dougli1sqrd commented on #843
Yep, that's going to be annoying. We can try the regex, but if we have a lot of DOIs that could get slow. How do we feel about accepting anything that is prefix `DOI` but non empty ID part?

[2018-10-04 22:28] pgaudet commented on #843
Can we make it simple and check only the prefix ? (as stated in the rule?)

[2018-10-04 22:29] pgaudet commented on #551
Is it still possible to check that even though the old reports are not there anymore ?

[2018-10-04 23:47] kltm commented on #551
I'm not sure what you mean by checking reports that are not there. These jobs have been disabled and are not supported:
https://github.com/geneontology/go-site/issues/702#issuecomment-413048308
It maybe be that various old reports exist for various jobs that have not been deleted, but if something is needed, it would be better to open a ticket and add it to the new system.

[2018-10-05 00:38] dougli1sqrd commented on #844
I thought we covered this in this update here: https://github.com/geneontology/go-site/pull/840/files ?

Feel free to make a new PR with the wording you think is more appropriate though.

[2018-10-05 00:46] dougli1sqrd commented on #827
This looks like a repair rule to me already: https://raw.githubusercontent.com/geneontology/go-site/master/metadata/rules/gorule-0000028.md

[2018-10-05 01:02] dougli1sqrd commented on #739
That's correct. We know some things about IDs that (with the exception of DOIs) that they should not have certain characters. I think it's definitely useful to check for bad characters. If you think the rule needs to be changed to specify that we are checking for bad characters, then we can create a separate ticket and PR for that specifically I think.

[2018-10-05 12:12] murphyte opened #845 "Almost all GO annotations dropped for Cryptococcus neoformans taxon:214684"
Hi GO --
With the latest GO release, the goa_uniprot_all_noiea.gaf.gz file went from 10018 rows for taxon:214684 to only 32. It looks like all 9986 annotations that were dropped were from PAINT and coded as IBA, and are old (nothing from the last year). Is the dropped annotation expected?

Thanks for checking!
-Terence

[2018-10-05 12:30] tonysawfordebi commented on #845
I've just looked in our (GOA) database, and we currently have 12,650 annotations from PAINT to proteins from taxon:214684, so that's what I'd expect to see in the next set of files that we release (which is scheduled to happen next week).

[2018-10-05 14:12] murphyte commented on #845
Thanks!
Do you have any advice on what we should do when the source GO data has such dramatic changes in content? Should I continue to report such occurrences here?

-Terence

[2018-10-05 19:58] kltm commented on #845
@murphyte Thank you for noticing and taking the time to contact us.
For this question specifically, The GO source of IBAs is now PANTHER (https://github.com/geneontology/go-site/tree/master/metadata/rules#gorule0000026). If there is a concern around this, we should loop in more of the annotation group (@pgaudet @vanaukenk ) or move this item over to go-annotation to get more views.

[2018-10-05 20:01] kltm commented on #845
@murphyte As far as reporting these things, well, I don't know your schedule, but it's always good from our perspective to know what people are seeing that has not been appropriately communicated to the community. If you have time for letting us know about issues that you're running into, we're happy to triage and check as best we can. Thank you for taking the time.

[2018-10-05 20:03] murphyte commented on #845
ok, I'll continue to ping if we see issues. Thanks for the investigation here, and it sounds like our problems will resolve when the new files are out.

[2018-10-05 20:05] #845 closed

[2018-10-05 21:50] suzialeksander opened #846 "Annotation Downloads table needs to be sorted by organism, not group"
The table that allows users to access annotations (bottom of geneontology.github.io/_docs/download-go-annotations.md, which links to http://current.geneontology.org/products/pages/downloads.html)
is currently sorted by the group (MGI, etc.) not by organism (mouse), and doesn't necessarily have a human-recognisable name.  Priority to be changed for new site & usability. Currently says

Should perha

[2018-10-05 21:56] suzialeksander opened #847 "Entity Type issues in Annotation Downloads table"
The table that allows users to access annotations (bottom of geneontology.github.io/_docs/download-go-annotations.md, which links to http://current.geneontology.org/products/pages/downloads.html) currently displays "n/a" as the Entity Type, this should be "gene".

Also, the Annotation Downloads table needs to only display genes & proteins- complexes and other types should be in a separate table [@

[2018-10-05 21:57] suzialeksander opened #848 "Add file types to Annotation Downloads table"
For the produced annotation downloads page (http://current.geneontology.org/products/pages/downloads.html), file types should be added as separate columns. (GPI, GAF, GPAD)

[@kltm edited from original]

[2018-10-08 03:26] jrr-cpt opened #849 "New Noctua user(s?) and group for CACAO"
I have filled out the new user form to request access to Noctua. I work with @jimhu-tamu doing GO annotation in the CACAO class. My interest is to expand annotation for phage.

There is not a user group that we fit into in the [metadata](https://github.com/geneontology/go-site/blob/master/metadata/groups.yaml) referred to in the new user form. Can we have EcoliWiki/CACAO added?

[2018-10-08 17:10] dougli1sqrd commented on #836
https://github.com/biolink/ontobio/pull/256

[2018-10-08 22:19] kltm commented on #849
@jrr-cpt It may take a moment to figure out what to do in this case, I hope you don't mind bearing with us as we sort through it--the hows of training and inclusion of people is still something under debate internally. (Tagging @vanaukenk.) For the use of Noctua for CACAO, we'd likely want to help you setup and maintain a separate instance as the primary GO instance is for vetted curation by inter

[2018-10-09 02:55] jrr-cpt commented on #849
I will explore the dev instance as a start.

I did not mean to imply that we intend to begin having CACAO students use this interface in the near future. Improving the phage annotation base is my primary interest, and I am not associated with any formal GO Consortium groups, just trying to learn from the EcoliWiki/CACAO group. As I learn more about the current methods employed in making useful ann

[2018-10-10 17:08] kltm commented on #849
@jrr-cpt Apologies, this is still under discussion.
To get started, however, no matter what we should at least have your groups' information. Would you mind start by either giving your group information here or starting a PR?

[2018-10-10 17:42] mugitty opened #850 "Correction parameter for Enrichment Analysis"
PANTHER Enrichment service is invoked with correction parameter set to 'bonferroni'.  The default is 'FDR'.  Update to not specify the correction parameter or set correction parameter to 'FDR'

[2018-10-10 17:44] kltm commented on #850
@cmungall My understanding is that Bonferroni was the desired correction for our users.

[2018-10-10 17:53] mugitty commented on #850
Currently, PANTHER uses FISHER with FDR by default

[2018-10-10 18:20] jrr-cpt commented on #849
@jimhu-tamu and @sandyl27 are two users in our group. And it turns out that we are in the list as   label: E. coli
id: http://www.bio.tamu.edu
shorthand: E_coli

[2018-10-10 18:23] #849 closed, assigned to nobody

[2018-10-10 19:14] dougli1sqrd opened #851 "NO_MAPPING evidence code appearing in GOA data"
We noticed that many annotations in GOA have the symbol `NO_MAPPING` as  the evidence code in the gaf. For example, goa_human_complex has ~1000, goa_chicken_complex has ~50, etc.

This looks like (from goa_chicken_complex):
[code]

[2018-10-10 19:17] kltm commented on #851
Pinging @tonysawfordebi
For the time being, these are naturally being filtered.

[2018-10-10 21:03] dougli1sqrd opened #854 "Remove reduction allowance in sanity check for goa_chicken_complex"
Currently there is a data in the incoming goa_chicken_complex source GAF that is being filtered, causing the sanity check to fail seeing a large decrease in file size. See here: https://github.com/geneontology/go-site/issues/851

Once this issue is fixed, let's undo this special case allowance. goa_chicken_complex is mostly well behaved so this is just a temporary measure.

[2018-10-10 21:53] pgaudet commented on #851
@bmeldal

[2018-10-11 06:45] tonysawfordebi commented on #851
Those shouldn't be there - clearly something has gone wrong with our GAF-dumping script when it encounters annotations that use ECO codes that don't map to a legacy GO evidence code. We'll fix it.

@alexsign

[2018-10-11 11:38] alexsign commented on #851
The GAF files are fixed and uploaded to GOA ftp. Sorry for the inconvenience.

[2018-10-11 18:21] kltm commented on #346
https://github.com/geneontology/go-site/issues/91

[2018-10-11 19:34] kltm commented on #851
No problem! That should get picked up tonight and things should continue on.

[2018-10-11 19:34] #851 closed

[2018-10-12 16:37] dougli1sqrd opened #856 "users.yaml and dbxrefs.yaml should be looked at for proper entries"
We have been adding entries to groups.yaml and dbxrefs.yaml in order to accommodate `assigned_by` and `DB` columns in GAF annotations not currently in the groups and dbxrefs yamls.

We have recently updated the GAF parser and it obeys the aspect of gorule-0000027 which says assigned_by should be in groups and the DB column should be in dbxrefs. This has caused many annotations to be filtered or wa

[2018-10-12 17:35] ValWood opened #857 "update the yaml for POmBAse links"
amigo links
from
https://www.pombase.org/spombe/
to
https://www.pombase.org/

I think this probably the dbxrefs file but I'm never sure where this is?

@mah11

[2018-10-12 17:54] mah11 commented on #857
in go-site - metadata/db-xrefs.yaml
I have created a pull request to update it.

[2018-10-12 18:09] ValWood commented on #857
Thankyou!

[2018-10-12 22:01] kltm commented on #856
tagging @vanaukenk

[2018-10-12 22:09] #857 closed

[2018-10-13 11:42] pgaudet commented on #856
@dougli1sqrd Can you tell from which files these incorrect groups come ?

[2018-10-14 18:03] cmungall commented on #856
Note for historic reasons, GOC and GO_Central are considered distinct. [gorule-0000023](https://github.com/geneontology/go-site/blob/master/metadata/rules/gorule-0000023.md) dictates that GOC is used as provenance for these inferences and is used in filtering by downstream consumers like @tonysawfordebi

This is obviously bad overloading, forced on us by GAF

For now I suggest having a distinct en

[2018-10-14 18:04] cmungall commented on #856
looks like the allcaps ones are coming from E-coli (checked in AmiGO, facet on contributor field)

[2018-10-15 07:42] tonysawfordebi commented on #856
I believe that ParkinsonsUK-UCL and NTNU_SB are the correct attributions.

Can you confirm / deny @RLovering, @mlacencio?

[2018-10-15 08:17] mlacencio commented on #856
@tonysawfordebi , I confirm that our attribution is NTNU_SB.

[2018-10-15 14:38] cmungall commented on #856
groups.yaml has UCL-Parkinsons https://github.com/geneontology/go-site/blob/master/metadata/groups.yaml#L162-L164

so this should be changed to the one that is currently in use

[2018-10-16 19:21] dougli1sqrd commented on #856
@pgaudet many of these come from several files.

@cmungall What should the URI for `GOC` be?

@mlacencio Sure thing, I'll make that change for NTNU.

I'll also make sure that UCL Parkinson's is `ParkinsonsUK-UCL`.

[2018-10-17 16:11] ValWood opened #861 "Can't trace source annotation GO_AR:0000008"
I'm stumpled by this one:

31303	GO_AR:0000008	Warning	Do not annotate to: GO:0005622 'intracellular' The term is considered to high level, as marked via the subset tag: gocheck_do_not_annotate PomBase	SPAC24H6.09	gef1	GO:0005622	PMID:24146635	IDA	C	Cdc42 RhoGEF Gef1	protein	taxon:4896	20140225	PomBase	exists_during(GO:0034605)

This has "PomBase" as assigned_by
But we didn't make this annotation

[2018-10-17 16:12] ValWood opened #862 ""Predictions" not enough information"
I don't know what to do with this information? Is it an error?

GO:0055114	oxidation-reduction process	AnnotationPropagation	P	GO:0004791	thioredoxin-disulfide reductase activity	IMP
GO:0098869	cellular oxidant detoxification	AnnotationPropagation	P	GO:0004791	thioredoxin-disulfide reductase activity	IMP
GO:0006412	translation	AnnotationPropagation	P	GO:0033417	CUU codon-amino acid adaptor activit

[2018-10-17 16:34] mah11 commented on #861
We did make that annotation. On Monday, I changed it to cytoplasm (GO:0005737) when I saw that warning (or rather, the equivalent in a local owltools run). I also updated the GAF on Monday, so the better question is "how long does it take for the snapshot reports to be updated after a file update?".

[2018-10-17 17:52] ValWood commented on #861
Ah OK, I thought I had a handle on "intracellular" ...
Snapshots are usually daily, but occasionally take longer if there is a problem.

[2018-10-17 17:52] #861 closed

[2018-10-17 20:30] RLovering commented on #856
Hi
our website has changed a few pages but I am worried that I mess something up. So please could you do the following edits for me:

Change:
label: "UCL-Parkinson's UK Annotation Project"

id: http://www.ucl.ac.uk/functional-gene-annotation/neurological/projects/parkinsons

shorthand: ParkinsonsUK-UCL

to
label: "ParkinsonsUK-UCL"

id: https://www.ucl.ac.uk/functional-gene-annotation/neurological

[2018-10-18 13:20] dougli1sqrd commented on #856
Hi Ruth,
Just so we're on the same page, you want the ParkinsonsUK-UCL entry to have that as both the `label` and the `shorthand`? The `label` is for the full name of a group, not necessarily what you would use for IDs in an annotation, like you would for  `shorthand`.

[2018-10-18 14:50] nsuvarnaiari opened #865 "New user accounts"
I would like to request new user accounts,
Suvarna Nadendla: https://orcid.org/0000-0003-3643-281X
Michelle Giglio: https://orcid.org/0000-0001-7628-5565 (github account:mgiglio99)

We are at Institute for Genome Sciences (IGS), University of Maryland Baltimore with ECO and OMP projects.

Thanks,
Suvvi

[2018-10-18 15:17] ValWood opened #866 "create a table summary of the rules reporting the status"
Contains rule number, description, status
make it easy to find from the reports

[2018-10-19 13:27] ValWood opened #867 "Add species filter for shared annotation checks (gorule-0000009)"
To make this  easy for groups to check their intersections, could we have a species filter on the shared annotation checks.

http://snapshot.geneontology.org/reports/shared-annotation-check.html

[2018-10-19 13:40] ValWood opened #868 "updating the generic slim"
me and Antonia have devised a new generic slim. It covers  99+% of process annotation s for pombe, cerevisiae, human.

excluding
* high level uninformative terms (which are largely being excluded for direct annotation)
* "response to" terms
* modification terms 'phosphorylation, dephosphorylation' (which are really functions terms in the process ontology).
(Note that some terms have very small num

[2018-10-19 14:07] nsuvarnaiari opened #870 "Add ECO contacts in group-contacts.csv"
Could you please add Michelle, Suvvi, James and Becky in the group-contacts.csv for ECO group contacts.

Michelle : @mgiglio99
Suvvi : @nsuvarnaiari
James : @jbmunro
Becky : @rctauber

Thanks,
Suvvi

[2018-10-19 17:54] RLovering commented on #867
also it is confusing to have the gp count column. The 'number' link to an amigo view of the annotations lists the 'source'  rather than the 'contributor'. So for the UCL team using the gp count URL it looks like we have no edits because the annotation lists by source. whereas using the 'annotation link' for the same 'query' row provides the 'contributor' information in each annotation, so I can se

[2018-10-19 18:54] pgaudet commented on #870
Done - let me know if it's OK.
https://github.com/geneontology/go-site/blob/master/metadata/group-contacts.csv

I also invited everyone to be a member of the project, please check your inbox and accept the invitation.

Thanks, Pascale

[2018-10-22 16:43] nsuvarnaiari commented on #870
Hi @pgaudet

Thanks for adding us in the list. One mention, I did not get any invitation. You may want to check if there is a typo while entering my github handle.

Thanks,
Suvvi

[2018-10-22 16:51] pgaudet commented on #870
You were already a member :)

[2018-10-23 22:13] kltm commented on #785
@pgaudet Yes, please go ahead and create a separate ticket for any desired files that do not yet have dates.

[2018-10-23 22:13] #785 closed

[2018-10-23 22:16] kltm commented on #783
Now in docs?

[2018-10-23 22:16] #783 closed

[2018-10-24 13:58] tonysawfordebi opened #871 "Column 17 (gene product form ID) information being stripped from GAF"
We've just been informed that the published version of the goa_human_isoform GAF (http://www.geneontology.org/gene-associations/goa_human_isoform.gaf.gz) is missing column 17

The column is definitely present in the source file (ftp://ftp.ebi.ac.uk/pub/databases/GO/goa/HUMAN/goa_human_isoform.gaf.gz) so it would appear that something is amiss with the pipeline that fetches and filters the files.

[2018-10-24 18:30] kltm commented on #871
@dougli1sqrd It looks like that information is indeed just being straight stripped out, without the annotation being filtered.

http://snapshot.geneontology.org/annotations/goa_human_isoform.gaf.gz (our product)
vs
ftp://ftp.ebi.ac.uk/pub/databases/GO/goa/HUMAN/goa_human_isoform.gaf.gz (upstream)

Any idea? There seems to be no corresponding rule violoation.

[2018-10-24 18:37] dougli1sqrd commented on #871
Oh that's super weird. I'll take a look

[2018-10-24 18:48] kltm commented on #871
Also note from @cmungall : we are not writing interacting taxon id either

[2018-10-25 21:00] dougli1sqrd commented on #871
So I have this: https://github.com/biolink/ontobio/pull/262 Which should fix the column 16 and 17 issues. Regarding the extra taxons, @cmungall at some point we decided to only use the first taxon id. I'm not sure what the fix for the "interacting taxon" is, or what your visions was there.

[2018-10-26 02:40] cmungall commented on #871
@dougli1sqrd, there is no vision, just the GAF spec

[2018-10-26 21:20] Antonialock commented on #868
You haven't given me permission to view the file...

[2018-10-27 00:35] kltm opened #872 "Column 13 (taxon) possibly being stripped from GAF"
In some cases, it seems that second taxons are removed during GAF processing. All conforming taxon information should be passed through.

Spun off from #871

This is closed on pass-through or demonstration that no stripping is occurring.

[2018-10-27 00:35] kltm commented on #871
Narrowing this and adding taxon check to new ticket.

[2018-10-27 00:56] kltm commented on #871
Checking skyhook output.
Lines like
[code]
now output as
[code]
@cmungall @dougli1sqrd Is the "upgrade" to explicit JSON desired here?

[2018-10-29 09:15] tonysawfordebi commented on #871
That's not valid GAF-speak...

[2018-10-29 16:18] dougli1sqrd commented on #871
Yeah this isn't right. Sorry about this. I'll see what happened.

[2018-10-29 18:32] kltm commented on #872
Confirmation that this was happening at least at last release:
[code]

[2018-10-29 19:33] kltm commented on #871
For this and https://github.com/geneontology/go-site/issues/872, we should have a test where input === emitted output on full-featured GAF lines.

[2018-10-29 19:52] dougli1sqrd commented on #871
I understand what happened now. My test from assoc object to annotation in the writer was wrong. My test data was incorrect. But you're right, better round trip tests would be good too.

[2018-10-29 20:03] dougli1sqrd commented on #871
https://github.com/biolink/ontobio/pull/263

[2018-10-29 23:56] dougli1sqrd commented on #872
https://github.com/biolink/ontobio/pull/264

[2018-10-30 00:10] dougli1sqrd commented on #871
Okay go-site (the pipeline) is updated, and we should see fixed results tomorrow afternoon.

[2018-10-30 00:10] dougli1sqrd commented on #872
Okay go-site (the pipeline) is updated, and we should see fixed results tomorrow afternoon.

[2018-10-30 21:45] kltm commented on #872
This looks to be cleared to me:
[code]

[2018-10-30 21:45] #872 closed

[2018-10-30 21:58] kltm commented on #871
I've checked in with @dougli1sqrd , there still seems to be issues with this. We'll figure out what failed in the unit tests and then try and get this cleared before the release.

[2018-10-30 22:25] kltm commented on #871
It looks like there was an issue with travis, make, and what tests were being run. @dougli1sqrd is on the case.

[2018-10-31 11:16] pgaudet opened #873 "PURLs for the ontology need to point to 'current' rather than 'snapshot'"
See http://geneontology.org/page/download-ontology
Can this be done soon ? Since we mention in our documentation that users should not use snapshot.

Thanks, Pascale

[2018-11-01 20:00] dougli1sqrd commented on #708
For example: SPARQL for gorule 6 takes a long time:
[code]

[2018-11-01 20:03] dougli1sqrd opened #875 "gorule-0000006: implement in ontobio"
GORULE 6 used to use a sparql implementation, but it is too slow. So since we removed it, we should add an ontobio implementation.

[2018-11-01 22:42] #820 closed

[2018-11-01 22:45] #739 closed

[2018-11-01 22:46] dougli1sqrd commented on #551
I think I will close this. We don't have the old reports, and we've labeled this as won't fix, and we closed this previously. I think if we have more specific concerns, we should open those as separate tickets.

[2018-11-01 22:46] #551 closed

[2018-11-01 22:47] dougli1sqrd commented on #670
Should we say this is done?

[2018-11-01 22:59] dougli1sqrd commented on #712
Has this been appropriately reviewed?

So says @kltm

[2018-11-01 23:02] dougli1sqrd commented on #715
Ontobio currently does this, except for the last point:

@cmungall @kltm does this seem like we can close this?

[2018-11-01 23:29] dougli1sqrd commented on #699
It is

[2018-11-01 23:29] #699 closed

[2018-11-01 23:38] dougli1sqrd commented on #712
Maybe we should merge this with #670; @pgaudet can you make sure there is no missing information?

[2018-11-02 06:42] kltm opened #878 "Refactor development "iteration" system to depend on variables, not branches"
Move away to more manageable variable system and to away with maintaining a "fast" go-site branch
Involved:
https://github.com/geneontology/go-site/pull/877
https://github.com/geneontology/pipeline/pull/68

[2018-11-02 06:42] #878 closed

[2018-11-05 14:47] pgaudet commented on #582
Looks ok to me.

[2018-11-05 14:47] #582 closed

[2018-11-05 17:10] pgaudet commented on #712
We have everything in  #670.

Thanks!

[2018-11-05 17:10] #712 closed

[2018-11-05 22:31] suzialeksander commented on #846
bumping this, as it's rather important.  @kltm, can we assign this to someone?

[2018-11-06 10:02] #870 closed

[2018-11-06 10:18] pgaudet commented on #674
Current documentation is here:
http://wiki.geneontology.org/index.php/Final_GPAD_and_GPI_file_format
https://geneontology.github.io/docs/gene-product-association-data-gpad-format/

[2018-11-06 10:35] pgaudet commented on #674
Suggest from @tonysawfordebi from the Montreal 10-2018 GOC meeting:
Extend GPAD header (any annotation set generated by any group) to include PURL for GO ontology information (or snapshot/release DOI), last ‘good’ version of the ontology that was in use when annotations were made

[2018-11-06 17:12] pgaudet opened #881 "Implement gorule-0000015"
https://github.com/geneontology/go-site/blob/master/metadata/rules/gorule-0000015.md

Annotations to terms that have the biological process term 'GO:0051704 : multi-organism process' or the cellular component term 'GO:0044215 : other organism' as an ancestor should contain two different Taxon IDs.

[2018-11-06 17:15] pgaudet opened #882 "gorule-0000013 taxon constraints: Filter non EXP, Report for EXP annotations"
(edited, IEA was missing)
Taxon constraints
https://github.com/geneontology/go-site/blob/master/metadata/rules/gorule-0000013.md

Should this first be implemented as a report, and later as a filter?

gorule-0000013 should filter non experimental annotations that violate taxon constraints: **IEA**, IBA, IKR, IRD, IC, ISA, ISM, ISO, ISS, NAS, RCA, TAS , ND. Other evidence code annotations should not

[2018-11-06 17:16] pgaudet commented on #865
Is this for Noctua ?

[2018-11-06 17:20] pgaudet commented on #844
OK.

This rule is both a repair and a filter - can we have two types ?

[2018-11-06 17:24] pgaudet opened #883 "gorule-0000008: Provide the term label in the report"

[2018-11-06 17:25] pgaudet opened #884 "Some rules should not show up in general reports"
Since this is just excluding the PAINT annotations that are submitted by groups.

[2018-11-06 17:38] pgaudet opened #885 "Implement gorule-0000007"
See feedback https://github.com/geneontology/go-annotation/issues/2131
before deciding on the implementation of this rule.

[2018-11-06 17:44] pgaudet opened #886 "New gorule-0000037: IBA annotations should ONLY be assigned by PAINT"
If there are PAINT annotations that are assigned by other groups, these should be filtered and reported.

[2018-11-06 17:46] pgaudet opened #887 "Implement gorule-0000005 IEA, ISS, ISO, ISM, ISA, IBA, RCA annotations ae not allowed for direct annotations to to 'protein binding ; GO:0005515 or GO:0005488 binding"
Need to first check with curators /QC group.

@vanaukenk @ValWood @sylvainpoux @selewis

[2018-11-06 17:46] pgaudet commented on #670
OK added tickets for everything - I think.

[2018-11-06 17:46] #670 closed

[2018-11-06 17:49] kltm commented on #674
I have some questions around the exact nature of "GO version URI":

Is this intended to be an optional use-if-there field, or something that is more important?

Right now, unless somebody creates their own URI and storage, GO currently only provides the possibility of versioned ontologies for "full" releases. Snapshot releases cannot currently be referenced permanently in any meaningful way, which

[2018-11-06 17:51] ValWood commented on #887
I  think I have made ISO annotations to protein binding when I am very confident and I don't have pombe data. I didn't know this was disallowed...

[2018-11-06 17:53] pgaudet opened #2107 "Do not annotate terms"
Hello,

Right now we have 2 types of do not annotate flags:
do_not_annotate, with 135 terms
do_not_manually_annotate, with 72 terms

1) Do we need that distinction anymore?
2) I would like to split these into the ones that are just reported ('soft checks'), and those that are filtered ('hard checks'). What I propose to do is to go through all the terms, and starting with those with fewest annotati

[2018-11-06 17:56] pgaudet commented on #887
Well it has only been proposed, never been implemented )(neither in P2GO, as far as I know).

The issue is that the format doesn't allow us to specify both with and from (right?) - but really I think the solution should be fixing the format - these annotations may be useful if we can keep the 'with' information.

[2018-11-06 17:57] ValWood commented on #887
It turns out we don't have any manual ones, but  there are a lot of IBA. I would vote for no IBA, ISS, ISM for sure.

I might be tempted to allow ISO if there was a piece of information that you really wanted to capture, but i don't  have an example.

Of course i would expect to be able to ISO to any protein binding children

like protein binding,bridging
protein membrane anchor etc.

[2018-11-06 17:57] ValWood commented on #887
yes that is probably why I never did it!

[2018-11-06 18:03] ValWood commented on #887
related, I notice that there are lots of ISM to

function binding
i.e.
kinase binding

I would prefer that we did not make these annotations. We will filter these at PomBase because they are confusing to our users, and they are not consistently annotated. We don't want users (community curators)  to request a binding term for every function. It is also unsustainable. Pombe  has over 100 kinases. W

[2018-11-06 18:49] nsuvarnaiari commented on #865
@pgaudet
Yes, this is for Noctua.

Suvvi

[2018-11-07 04:37] pgaudet commented on #865
Can you (and mgiglio99) fill this form:

https://docs.google.com/forms/d/e/1FAIpQLScDn4eD-R11detA6GUrt_HzHjqLT9hGnua8UbHqqPNNIgKJAA/viewform

Thanks, Pascale

[2018-11-08 00:54] kltm commented on #871
Product now appears to be clear on skyhook for `snapshot`.

[2018-11-08 00:55] #871 closed

[2018-11-08 15:35] pgaudet commented on #838
Created new rule:
https://github.com/geneontology/go-site/pull/888

[2018-11-08 16:00] pgaudet commented on #886
Created new rule
https://github.com/geneontology/go-site/pull/892

[2018-11-08 16:02] pgaudet commented on #793
Unless gorule-0000027 does that ?
https://github.com/geneontology/go-site/blob/master/metadata/rules/gorule-0000027.md

Last time I checked it wasn't. Should I extend the description of gorule-0000027 ?

[2018-11-08 16:13] pgaudet opened #894 "New gorule-0000038: Annotations by ISS or ISA should refer to sequences (in the 'with' column) having the same or a more granular annotation"
P2GO rule

https://github.com/geneontology/go-site/pull/893

[2018-11-08 16:14] pgaudet opened #895 "Fix gorule-0000039 to look at GO:0032991's (protein-containing complex) descendants"
Currently, this looks only checks for direct annotations to GO:0032991 protein-containing complex. It needs to look at all children of GO:0032991 and report an error if the 'object type' (GAF column 12) is 'complex'

[2018-11-08 16:19] pgaudet opened #897 "New gorule0000040 Check for valid combination of evidence code and GO term"
P2GO check

@tonysawfordebi

Can you give the specific details of that check (which ECO for which terms?

Thanks, Pascale

[2018-11-08 16:21] pgaudet commented on #897
https://github.com/geneontology/go-site/pull/898

[2018-11-08 16:22] pgaudet opened #899 "New gorule-0000041: For the root terms, ND is the only valid evidence code"
P2GO rule
Inverse of gorule-0000011

[2018-11-08 16:26] pgaudet opened #901 "Add "Qualifier is valid" to gorule-0000001"
P2GO rule
I think this is checked as part of Rule 1; @kltm should we make a separate rule ?

[2018-11-08 16:28] pgaudet opened #902 "New gorule-0000042 Qualifier: IKR evidence code requires a NOT qualifier"
From P2GO rules

[2018-11-08 16:30] pgaudet commented on #902
https://github.com/geneontology/go-site/pull/903

[2018-11-08 16:43] pgaudet opened #904 "New gorule-0000043 Reference: check for valid combination of evidence code and GO_REF"
P2GO rule

@tonysawfordebi Can you give the combinations of evidence code and GO_REF?

[2018-11-08 16:48] pgaudet commented on #904
https://github.com/geneontology/go-site/pull/905

[2018-11-08 16:50] pgaudet opened #906 "New gorule-0000044 Reference: check for invalid use of GO_REF:0000057 can only be used with terms that are descendants of GO:0006915 (apoptotic process)"
P2GO rule

[2018-11-08 16:52] pgaudet commented on #906
https://github.com/geneontology/go-site/pull/907

[2018-11-08 16:52] pgaudet opened #908 "New gorule-0000045: With/from: Verify that the combination of evidence (ECO) codes conform to the rules in eco-usage-constraints.yaml"
P2GO rule

[2018-11-08 16:54] pgaudet opened #910 "New gorule-0000046 With/from must be the same as entity ID for protein self-binding annotations"
P2GO rule

[2018-11-08 16:57] pgaudet commented on #910
https://github.com/geneontology/go-site/pull/911

[2018-11-08 16:58] pgaudet opened #912 "Implement gorule-0000047: With/from: ChEBI IDs in With/from can only be used with terms that are descendants of GO:0005488 (binding), except for protein binding (GO:0005515) and protein-containing-protein"
P2GO rule

[2018-11-08 17:03] pgaudet opened #914 "New gorule-0000048: If the annotation has the ND evidence code check whether any manual annotations in the same GO category as the supplied term already exist for this gene product"
P2GO rule

[2018-11-08 17:05] pgaudet opened #916 "New gorule-0000049 If the annotation has "contributes_to" as its qualifier, verify that at least one annotation to GO:0043234 (protein complex), or one of its child terms exists"
P2GO rule

[2018-11-08 17:06] pgaudet commented on #916
https://github.com/geneontology/go-site/pull/917

[2018-11-08 17:07] pgaudet commented on #914
https://github.com/geneontology/go-site/pull/915

[2018-11-08 17:07] pgaudet commented on #912
https://github.com/geneontology/go-site/pull/913

[2018-11-08 17:08] pgaudet opened #918 "New gorule Verify that we are not creating a duplicate annotation"
P2GO rule
Probably to be implemented in Noctua. SHould this move trackers ?

[2018-11-08 17:09] pgaudet opened #919 "New gorule-0000052: Check whether the combination of gene product and GO term is blacklisted"
P2GO rule

@tonysawfordebi Can you provide the list ?

[2018-11-08 17:11] pgaudet commented on #919
https://github.com/geneontology/go-site/pull/920

[2018-11-08 17:13] pgaudet opened #921 "New rule: Identify annotations to the function term "mRNA binding involved in post transcriptional gene silencing" (GO:1903231) that lack a corresponding annotation to the process term "gene silencing by miRNA" (GO:0035195) or one of its descendants"
P2GO rule.

Do we want to do this ? It seems like this could be handled with P-F links.

@vanaukenk

[2018-11-08 19:51] vanaukenk commented on #921
Might be good to ask @rachhuntley about this one.

Right now, it doesn't look like there's an F-P link for between two terms in the ontology, so I'd be interested to know more about why this rule was implemented before we decide.

[2018-11-08 20:02] ukemi commented on #921
Aren't there post-transcriptional mechanisms to gene silence that aren't miRNA mediated? I thought there were other types of RNA that could mediate this.

[2018-11-08 22:10] ValWood commented on #576
@cmungall  you can probably close this one?

[2018-11-08 22:11] ValWood commented on #524
Maybe this can be closed?

[2018-11-08 22:12] ValWood commented on #767
Is this current?

[2018-11-09 00:11] kltm commented on #123
@pgaudet @cmungall @dougli1sqrd Should now be subsumed by GO Rules additions from Tony.

[2018-11-09 00:11] #123 closed

[2018-11-09 00:11] kltm commented on #85
I think this is all done with, yes?

[2018-11-09 00:11] #85 closed

[2018-11-09 02:27] cmungall opened #923 "JCVI URLs no longer resolve"
I'd like to follow up on GAF lines like:

[code]

this is what we have:

[code]

However, http://cmr.jcvi.org/ does not resolve

[2018-11-09 02:40] cmungall commented on #923
We could use KEGG to resolve? https://www.genome.jp/dbget-bin/www_bget?pst:PSPTO_4722

But ideally we would map these to either NCBIGene or UniProtKB, cc-ing JCVI inheritors @ggeorghiou @vanaukenk @pgaudet

This corresponds to https://www.uniprot.org/uniprot/Q79LY0, UniProt has the KEGG<->UniProtKB mapping, so we could use this

[should probably open a new annotation ticket for this since this is

[2018-11-09 08:34] tonysawfordebi commented on #897
P2G has three places where it does this check:

- evidence is IEP (ECO:0000270) or HEP (ECO:0007007) and GO term is not a process term
- GO term is one of the three root terms (GO:0005575, GO:0008150, GO:0003674) and evidence is not ND (ECO:0000307)
- evidence is ND and the GO term is not one of the root terms

[2018-11-09 08:40] tonysawfordebi commented on #904
The valid combinations that we currently allow in P2G are:

- ND (ECO:0000307): GO_REF:0000015
- ISS (ECO:0000250): GO_REF:0000024
- ISA (ECO:0000247): GO_REF:0000030, GO_REF:0000113
- ISM (ECO:0000255): GO_REF:0000030, GO_REF:0000050
- ISO (ECO:0000266): GO_REF:0000024
- IC (ECO:0000305): GO_REF:0000036, GO_REF:0000057, GO_REF:0000111
- IKR (ECO:0000320): GO_REF:0000047
- IDA (ECO:0000314): GO_RE

[2018-11-09 09:01] tonysawfordebi commented on #919
The current blacklist is in the attached spreadsheet.

Note that the contents of the list are dynamic, and are derived from three sources. Here's an edited version of the description of what the blacklist contains, taken from the old version of QuickGO:

There are three categories of entry in the list:

1. Negative associations curated from IEA pipeline review
A list of gene product-to-GO term ass

[2018-11-09 09:02] rachhuntley commented on #921
Yes, siRNA can bind to mRNA to silence it as well (see link below). I'm not sure where this rule originated from, I don't *think* I would have requested it.
If anything, I would suggest a F-P link between the function term and "posttranscriptional gene silencing by RNA" or one of its descendents? I don't know enough about the other PTGS mechanisms to recommend a link to the parent "posttranscripti

[2018-11-09 09:18] tonysawfordebi commented on #921
@rachhuntley This check, and the accompanying P2G report, arose from the conversation we had back in November 2016, in the email thread with the subject "Possible edit to PSICQUIC miRNA interaction type".

[2018-11-09 09:52] RLovering commented on #921
Sounds like a very useful check though ;)

[2018-11-09 09:58] rachhuntley commented on #921
I think the check is in place, but I guess we never get a report because there aren't any missing BP annotations?

[2018-11-09 10:01] tonysawfordebi commented on #921
Yes, exactly that.

[2018-11-09 10:47] pgaudet commented on #524
@ValWood what was the action ? You want the file location of which file ?

[2018-11-09 11:32] ValWood commented on #524
Chris covered new file locations at the meeting. It might be good to let people know about these changes via the mailing list. At least if the old files are removed it will force people to update.....

[2018-11-10 00:42] kltm commented on #431
Note that geneontology/pipeline#65 is now active, so any changes or progress here should either be done in both places or within the new pipeline.

[2018-11-12 16:11] pgaudet commented on #914
https://github.com/geneontology/go-site/pull/915

[2018-11-12 17:37] pgaudet commented on #897
-> gorule-0000006

-> gorule-0000011

-> gorule-0000011

So it looks like we don't need that rule.

[2018-11-12 17:37] #897 closed

[2018-11-12 17:38] pgaudet opened #924 "Consider refactoring metadata files and generic gorules to all draw from a common source"
Extracted from https://github.com/geneontology/go-site/pull/898

Question from @kltm

    gp/term constraints
    eco/term constraints
    eco/go_ref constraints
    qualifier/term/etc constraints
    maybe others I missed?

[2018-11-12 17:43] pgaudet commented on #904
Thanks @tonysawfordebi
Where can I look to make that list exhaustive ?

[2018-11-12 17:44] pgaudet commented on #919
@cmungall @kltm I'm happy to convert this into whatever format we need, if you want.
Let me know where the file should be saved.

[2018-11-13 13:53] pgaudet opened #927 "Update gorule-0000006 to include HEP"
"IEP and HEP usage is restricted to terms from the Biological Process ontology"

[2018-11-13 15:39] pgaudet commented on #921
At the QC call we decided not to implement this in the gorules.

[2018-11-13 15:39] #921 closed

[2018-11-13 16:06] pgaudet commented on #885
The rule is 'IPI should not be used with catalytic activity molecular function (GO:00038249) or children terms'

[2018-11-13 16:28] pgaudet commented on #837
Please also add the original file location.

[2018-11-13 20:30] suzialeksander opened #929 "gorule-0000016 hitting on compliant rows, SGD"
gorule-0000016 is tagging a seemingly compliant row for lack of a with/from. (Discussed on Annotation call today 13 Nov)

http://snapshot.geneontology.org/reports/sgd-report.html#gorule-0000016

Displays:
<pre>gorule-0000016
With/From: IC annotations require a With/From GO ID

total: 1
Messages
WARNING - Violates GO Rule: GORULE:0000016: All IC annotations should include a GO ID in the "With/From"

[2018-11-13 20:37] kltm commented on #929
@dougli1sqrd Would it be possible for you to do a first-pass triage on this?

[2018-11-13 20:39] kltm commented on #837
"Original" as in the location of the source file preserved for the pipeline run.
(To remove confusion about the nature of "products", it may be worthwhile to consider a "source" directory.)

[2018-11-13 21:20] dougli1sqrd commented on #929
Oh interesting. I'll take a look.

[2018-11-13 23:05] cmungall commented on #929
I think we can close this. Likely synchrony issue. Do we have a separate ticket for including the date of the submission in the report?

btw @dougli1sqrd, you might want to add a `-s` option to your curls

[2018-11-13 23:20] dougli1sqrd commented on #929
I'm sure we do. We at least have a ticket for copying over the gaf header into the report.

[2018-11-13 23:42] dougli1sqrd commented on #901
We currently tag incorrect aspect as rule 28, "Aspect can only be one of C, P, F and should be repaired using the GO term"

[2018-11-14 08:47] pgaudet commented on #837
If possible it would be **very** useful to rename files and directories in there. I know we had said that we don't expect anyone to have to go in there, but as we saw yesterday, until we have other tools, curators need to look at these files.

Can this be done 'easily'?

Thanks, Pascale

[2018-11-14 08:51] pgaudet commented on #901
@dougli1sqrd The qualifier is 'NOT', contributes_to' and 'colocalizes with'.  I dont understand how your comment is related to the proposed rule?

[2018-11-14 22:56] dougli1sqrd opened #930 "gorule-0000046: add clear/implementable description"
Would an explanation like this work?
[code]

This adds a lot of information for people like me. Since I know how the GAF works, this puts your biological rule in terms of what is happening in the GAF. I'm not sure if my explanation is actually accurate, but something like this is helpful.

[2018-11-15 00:32] kltm commented on #919
@tonysawfordebi That list is like 10k lines. Is that an accumulation of a lot of "bads" manually curated, or is there an algorithm that is generating it?

[2018-11-15 00:35] kltm commented on #927
See #925

[2018-11-15 00:35] dougli1sqrd commented on #927
https://github.com/geneontology/go-site/pull/925

[2018-11-15 13:07] pgaudet opened #932 "Implement gorule-0000004: Reciprocal annotations for 'protein binding'"

[2018-11-15 16:45] pgaudet commented on #927
#925 is the modification of the description of the rule. We still need to modify the rule.

[2018-11-16 10:33] pgaudet commented on #927
Yes, we need to change the implementation of the rule, I changed the title to reflect that.

Thanks !

[2018-11-16 10:42] pgaudet commented on #930
See https://github.com/geneontology/go-site/pull/933

[2018-11-16 10:44] pgaudet commented on #916
OK

[2018-11-16 10:44] #916 closed

[2018-11-16 10:47] pgaudet opened #934 "New gorule-0000050 ISS annotations and children should not be self-referential"
New P2GO rule

Annotations to ISS, ISA and ISO should not have the same identifier in the 'gene product column' (column 2) and in the 'with/from' column (column 8).

[2018-11-19 23:12] kltm commented on #431
Current output from #65 seems to be production-only and by mod (using @cmungall 's script):
http://skyhook.berkeleybop.org/master/products/annotations/
I'll close this ticket--we can start a new ticket for new work or other changes that need to be made.

[2018-11-19 23:12] #431 closed

[2018-11-20 15:29] ValWood opened #936 "difficulty locating some terms"
I was going through some annotation with a new curator and I noticed that some terms that
are really difficult to locate.

Take for example the  "signalling receptor activity"  to describe a canonical "receptor activity"
TO find this term you need to *Know* to use  "signalling receptor activity"  search term because you can't reach it with "receptor activity"- you only locate descendants.

 This i

[2018-11-20 16:35] cmungall commented on #936
Weighting is a good idea.

Would a universal weighting scheme for end-users and curators make sense, or do you think we'd want to weight differently?

[2018-11-20 19:09] ValWood commented on #936
we do  some weighting in Canto, on a case by case basis.

These ones are ticky, I think because;
i) they can only be "related synonyms"   since they are used in other contexts (we give more weight to *exact synonyms*)
ii)  the actual term name is necessarily longer, because it needs to be qualified
*signalling* receptor activity

It's almost as though we need a label to give  "community usage" hig

[2018-11-20 20:18] kimrutherford commented on #936
In Canto exact matches appear slightly higher in the search than prefix matches.  So if you search for "splice" a term name containing "spliceosomal" will generally appear lower than a name containing "splice site ...".

[2018-11-20 20:43] ValWood commented on #936
In Canto for "receptor activity" you get
![receptr activity](https://user-images.githubusercontent.com/7359272/48801581-a6ddb580-ed04-11e8-9f2b-6dc7ca6c0245.jpg)

and in quickGO
![receptor](https://user-images.githubusercontent.com/7359272/48801597-b6f59500-ed04-11e8-973a-c954cc670d4e.jpg)

of course in QuickGO "signalling receptor activity" will be somewhere down the list, but for a common parent

[2018-11-20 20:53] ValWood commented on #936
For Amigo a search  on
"receptor activity" does not find "signaling receptor activity" in the first 100 hits...

[2018-11-21 03:44] cmungall commented on #936
Re: weighting exact over other syns, this makes sense, I do this when doing any kind of NER task. I wish more NLP people would make use of these.

GO is generally quite consistent here, but it bugs me when we make "apoptosis" a narrow syn of "apoptotic process", this is maybe justified from a strict ontological point of view but from a pragmatic term matching point of view it's not ideal. Also, I

[2018-11-21 12:39] ValWood commented on #936
I guess what GO does should be ontologically correct. Maybe we need another synonym type,  meaning "not exact, but the community *mean* exactly the same thing when they use this" (or a flag on any synonym type because they can be broad, narrow, or related). These are the ones that need to percolate to the top of the search.

[2018-11-21 13:08] mah11 commented on #936
OBO format does have "synonym types", as distinct from the exact/related/etc. synonym scopes. I don't know what OWL would make of that, but if it's OWL-able there could be a type for "community usage" and it could confer higher weight in a search.

[2018-11-21 17:52] cmungall commented on #936
Yes, it all gets represented in OWL. Both scope and extensible types are represented as "axiom annotations" on the basic synonym triple.

I'd go the other direction - make the scope exact, and include an extra synonym type saying "not quite exactly the same thing in a fussy ontological sense". Make things easier for the default user.

[2018-11-27 15:50] pgaudet commented on #919
We need to understand exactly is being checked and decide how to implement.

[2018-11-27 16:07] kltm commented on #884
This issue has two parts. This first part is to add a field, such as `silent` to the rules schema to indicate that it is not of general interest for internal QC/QA. The second part is to implement this so that the default interface for the reports does not display such rules violations.

As a starting case, add this feature to hide (or remove) rule 0000026 from the general reports.

[2018-11-27 16:22] kltm opened #937 "Narrow scope of gorule-0000026 to be complementary to gorule-0000037"
From discussion with @pgaudet and @selewis, gorule-0000026 is currently too broad and needs to be narrowed to be complementary with gorule-0000037 (see https://github.com/geneontology/go-site/pull/892).

The new formulation of 0000026 should be to filter out "PAINT" annotations from sources besides PAINT. The exact definition likely needs to be worked out still.

The rationale for this is to give

[2018-11-27 16:55] pgaudet commented on #884
Great! @kltm if you want to add this new field to gorule-0000026 as an example, I can then add it to all others.

Thanks, Pascale

[2018-11-27 19:30] dougli1sqrd commented on #884
This would be under filter, report, etc? Or a new field entirely in the spec?

[2018-11-27 20:35] selewis commented on #884
Let's chat please and get this sorted.

[2018-11-27 22:56] kltm commented on #884
After discussion with @selewis and @dougli1sqrd , it would be a TBD list field that tags rule violations in the global violation capture, allowing different report interfaces to be filtered as necessary into the violation subsets of interest.

[2018-11-29 11:15] pgaudet opened #938 "Metadata YAML file format needs to support input and output separately"
Action item from the Montreal GOC meeting:
We should separate input data and output: 'destination URL' in the YAML file is confusing

[2018-11-29 11:18] pgaudet opened #939 "Improve pipeline documentation"
Clarifications requested from Montreal GOC meeting:

- Document the fact that gp2protein files are still being generated for some species that do not provide enough information to make GPI files
- Document internal pipeline (although I was wondering how that differed from http://wiki.geneontology.org/index.php/Release_Pipeline? More 'internal' details requested?

[2018-11-29 11:24] pgaudet opened #940 "GO rules reports - notifications"
Email reminder should be sent to each group about 2 weeks before the next release

[2018-11-29 11:25] pgaudet opened #941 "GO rules report organization"
Error reports should be organized according to what group is ultimately responsible for the source annotations.

[2018-11-29 11:29] pgaudet opened #942 "gorule-0000009 Shared Annotation Matrix: provide documentation"
Matrix: Add more explanation text to the matrix rule check data html page so curators know what they’re actually looking at on this page.

@ValWood Can you provide some text ?

[2018-11-29 11:35] pgaudet opened #943 "Handling redundant information"
Handling redundant information: https://docs.google.com/presentation/d/1TzXfwR3ahQYL2MKp6yL5oO13CEUYL-WexzUyjV1OcSA/edit#slide=id.p2
a.     Define redundant information: (annotation group)
New tools should have features that allow us to do queries to assess redundancy
b.     In AmiGO, we should be able to improve the display by removing redundant
information. That information may be useful for cer

[2018-11-29 11:39] pgaudet opened #944 "QC rules: Develop a ‘white list’ for specific pathways"

[2018-11-29 11:57] pgaudet opened #945 "GO rules schema: change rule types"
Current rule types are:

RULE TYPE -> behavior
filter -> filter out from the GAF at import, report annotations lines that were filtered in the gorule report
report -> no action on data, report affected annotations lines in the gorule report
repair -> fix data at import, report affected annotations lines in the gorule report

PROPOSED:
NEW:
excluded: > filter out from the GAF at import, do not repo

[2018-12-03 20:29] cmungall opened #948 "GO-CAM Model URI resolution should be to Noctue"
http://model.geneontology.org/596ef51500000088

currently goes to tomodachi which says Alpha

Let's resolve to
http://noctua.geneontology.org/editor/graph/gomodel:596ef51500000088

for now

[2018-12-04 01:19] cmungall opened #949 "ASAP database no more?"
https://github.com/geneontology/go-site/blob/master/metadata/db-xrefs.yaml#L94-L103

ASAP links are broken. Database gone?

Note that annotations to ASAP IDs are from PAMGO, see https://github.com/geneontology/go-site/blob/master/metadata/datasets/pamgo.yaml in the PAMGO_Ddadantii file.

I will contact the listed contact here

[2018-12-04 12:48] ValWood opened #950 "Use synonym metadata to upgrade GAF sources (still a lot of odd "source databases")"
![purge](https://user-images.githubusercontent.com/7359272/49442917-cf64b580-f7c2-11e8-8d14-b85add7a3fbc.jpg)

Should't these be hard checks ?

[2018-12-04 12:49] ValWood commented on #950
refereing to
AGBASE
FLYBASE
GO_CENTRAL
WormBase

@pgaudet

[2018-12-04 13:01] pgaudet commented on #950
@dougli1sqrd Can you tell what is the source of these ?

Also, shouldn't they get repaired ?

[2018-12-04 19:21] cmungall commented on #950
To clarify:

A subset of these (FLYBASE, GO_CENTRAL) do not use the correct case, and should be repaired (which rule is this?)

Some of these refer to defunct annotation groups. We should track these down, ensure we have an entry in groups.yaml for every one of these. I don't think @dougli1sqrd should do this, best done by someone with historic knowledge of the GO. But if you want a specific repor

[2018-12-04 23:56] cmungall opened #951 "UniPathway resolves to a dead link"
This may be more an annotation issue than a site one

links such as:

![image](https://user-images.githubusercontent.com/50745/49480661-6b4eeb00-f7dc-11e8-819e-42ba4539b2e8.png)

go to:
http://www.grenoble.prabi.fr/obiwarehouse/unipathway/upa?upid=UPA00886

which says it is no longer supported. Note our link is correct, following the link from quickgo takes us to the same place.

What should we do

[2018-12-05 10:32] amorgat commented on #951
UniPathway is a dead project. Thanks to Murphy law, two years ago, the production and the backup servers crashed in one week. Unfortunately, we don't have resource to continue this project. You should remove the links.

[2018-12-05 10:51] pgaudet commented on #951
@amorgat We can't just remove the links - if this is dead, we'd remove the entire annotation lines. Who generates these annotations? Some Uniprot pipeline ?

[2018-12-05 10:53] pgaudet commented on #951
just to be more precise: without the link, we dont know where there IEA is from, so we cannot keep it.

[2018-12-05 10:57] tonysawfordebi commented on #951
We still have a pipeline that creates these annotations, based on the last-known-good UniPathway2GO mapping, and UniPathway cross-references in UniProt entries.

[2018-12-05 11:02] pgaudet commented on #951
Looks like there are  6,910,457 annotations with GO_REF:0000041 in UniProt .. that's quite a bit ! But if it cannot be mapped to an active resource, I'd be inclined to remove them.

Does Rhea generate GO annotations that could be used to replace these ?

[2018-12-05 13:19] amorgat commented on #951
Definitely something to discuss together.
Would it be possible to add this item in the Monday/Tuesday agenda of our next meeting?

[2018-12-05 13:29] ukemi commented on #951
I added it to the end of the day Tuesday because it seems like it fits into the data-flow/pipeline area.

[2018-12-05 13:35] tonysawfordebi commented on #951
I've raised the issue here about whether we should continue to generate & publish UniPathway-based annotations.

[2018-12-05 16:19] amorgat commented on #951
@ukemi thanks David

[2018-12-05 17:01] pgaudet opened #952 "Document where we want people to get our files and annotations"
For all consumers of GO data, including MODs, and also includes checking with GOA to update their release notes to link to the correct locations

At the manger's call today, @cmungall said he'd start a draft

[2018-12-05 19:46] kltm commented on #948
Patch on a patch, but done. We can clean it up once we're more fully driving the domain.

[2018-12-05 19:46] #948 closed

[2018-12-05 20:40] dougli1sqrd commented on #950
@pgaudet So `assigned_by` is not repaired. All we have is the groups.yaml: https://github.com/geneontology/go-site/blob/master/metadata/groups.yaml. This only provides the list of allowed groups, and gives no mappings from bad groups into correct groups (otherwise we could repair). As such, this is only a report rule, and does not filter. So that's why you're seeing them in the data still. They'll

[2018-12-05 20:41] selewis commented on #950
@dougli1sqrd - exactly Eric. I was going to add the code to repair these. There is absolutely no reason not to just go ahead and fix them where we can.

[2018-12-05 21:14] dougli1sqrd commented on #950
Hi @selewis, if we're adding code to repair these, we need to know the mapping of {bad id} --> {good id}. Ontobio already uses the go-site groups.yaml (linked above) to test if `assigned_by` is present in the groups. Let's a an optional key to the groups.yaml called `synonyms` that represent values that are inappropriate, but that we can repair to the correct value (represented by the `shorthand`

[2018-12-05 21:20] dougli1sqrd commented on #950
One danger though is we'll have to make sure that no synonym for any entry is the same as any other synonym, since we wouldn't be able to correctly resolve the repair. Like, if we have bad1 --> good1, and also bad1 --> good2, we wouldn't be able to choose, so we can't share any synonyms across group entries.

[2018-12-05 21:21] selewis commented on #950
@dougli1sqrd yes that's exactly the approach to take, nothing hard-coded.

by coding I merely meant that something needs to be there to check for these synonyms if the assign_by tag is wonky. to my knowledge that checking piece isn't there.

it's more likely many bads to one good. I can't think of any cases where it's the other way around

[2018-12-05 21:49] pgaudet commented on #950
Can we just fix the case ? Any other problems should not be repaired IMO.

Pascale

[2018-12-05 21:56] selewis commented on #950
It's not just case (e.g. WormBase or WB), but it's not any more difficult. All are easy

[2018-12-05 21:57] selewis commented on #950
@pgaudet - also, if it is something quite weird (e.g. boogalooDB) then they won't be repaired but will be reported as errors.

[2018-12-05 22:00] pgaudet commented on #950
But we should never have WB. And there are few! We need to locate where these are coming from and get them fixed 'upstream'.

[2018-12-05 22:08] selewis commented on #950
No worries either way. If the name is not the primary one then all the synonyms will be checked. If a matching synonym is found then the primary name will replace the synonym and the repair will be reported. Else if there is no synonym found then the line will be removed and the error will be reported. It all comes down to which names do we want repaired (i.e. add synonym to the yaml).

[2018-12-05 22:18] ukemi commented on #950
Always preferable to correct data at its source.

[2018-12-05 23:53] dougli1sqrd commented on #950
Do we want to remove lines that do not have a repairable synonym? Or keep them as a warning as we currently do?

[2018-12-06 00:08] selewis commented on #950
We don't want to load data into the public resource if we don't know where it came from. It would be unsound to have such data incorporated .

But these lines don't disappear, they'll be available intact within the report itself so that they can be tracked down and fixed upstream at the source. (if we can figure out what it is)

For those that are repairable, the obvious ones, these will appear as

[2018-12-06 02:13] dougli1sqrd commented on #950
@cmungall You don't think we should add a synonyms mapping and repair from synonyms?

[2018-12-06 16:15] pgaudet opened #955 "Change gorule-0000016 to a filter"
We have reviewed annotations to IC with no data in the with/from column. These are mostly from unmaintained sets. We would like to filter these out.

Annotations are here:
https://docs.google.com/spreadsheets/d/1sydzUKLMDXexD2vYCumma0VWZsBJZontxDCjAwZ1_hE/edit#gid=0

Thanks, Pascale

@vanaukenk @ValWood @selewis

[2018-12-06 16:39] pgaudet commented on #955
Actually, although there are errors in the reports, I can't find any annotations in AmiGO with no data in the 'with' column.

Is this a filter or a report ?
@dougli1sqrd

[2018-12-08 00:09] cmungall commented on #949
From Eric Neeno-Eckwall at wisc:

The links you have to our database have changed, I found this in the db-xrefs.yaml file:

[code]

The URLs should be:
generic: https://asap.genetics.wisc.edu/asap/ASAP1.htm
syntax: https://asap.genetics.wisc.edu/asap/feature_info.php?FeatureID=[example_id]
example: https://asap.genetics.wisc.edu/asap/feature_info.php?FeatureID=ABF-0014586

[2018-12-10 17:08] #816 closed

[2018-12-10 23:59] dougli1sqrd commented on #955
It looks like these are showing gaf lines that have nothing in the with/from but have IC evidence, unless I'm mistaken:
http://current.geneontology.org/reports/genedb_pfalciparum-report.html#gorule-0000016

Also, just for clarification, I'd like to note that gorule-16 states that it's a failure not just if there's nothing in with/from, but if there isn't a GO term. So it's also a failure if there

[2018-12-11 15:40] pgaudet commented on #951
The plan discussed in Geneva - ontology editors meeting is to move the UniPathway to OLS and link there.

[2018-12-11 22:25] dougli1sqrd opened #956 "GoRules: Yaml should have schema for example data each of a passing and a failing for the Go Rule"
In the GO Rules YAML, let's create specs for optional passing and failing exemplar data for that rule. There could be more than one example of each passing and failing and the data need not be GAF.

Something like:
[code]

Advantages to this is that it's still format agnostic. We can have an enum of allowed formats in the schema. What formats should be allowed here? Also, not sure if I like `insta

[2018-12-11 22:32] selewis commented on #956
I rather like this idea, or something similar because it makes it easy for curators to contribute their exemplars (in theory, but we do need a solution that enables the most direct communication from them to us as possible)

[2018-12-11 22:40] dougli1sqrd commented on #956
Yeah, they could just add it in with a Pull Request. The danger here is having a zillion examples for each rule, and that seems counter-productive. Basically the example should probably illustrate a peculiarity of the rule, exercising a particular condition of the rule.

[2018-12-12 21:54] selewis opened #957 "fix redirects so that web site can go live"
Good question...  Aside from the www conf file (which itself was last modified in 2016), nothing has been modified since 2015 so I'm guessing by now a lot of those redirects are not really necessary.  I don't even remember why some were put in place to begin with, although presumably there was a reason!  :-)

Also, aside from the www server, the rest are running on an Apache 2.2 server so yes, the

[2018-12-12 21:56] selewis opened #958 "Take over the geneontology.org root domain (including www)"
Aside from the www conf file (which itself was last modified in 2016), nothing has been modified since 2015 so guessing by now a lot of those redirects are not really necessary.  I don't even remember why some were put in place to begin with, although presumably there was a reason!  :-)

Also, aside from the www server, the rest are running on an Apache 2.2 server so yes, they may need to be modif

[2018-12-12 22:09] kltm commented on #958
See: https://github.com/geneontology/go-site/issues/789

[2018-12-13 13:09] cmungall commented on #957
OK, I went back to the email from Stuart and extracted the conf files @kltm

My knowledge of apache conf files is rusty, but I believe what we need to do here is take the redirects and decide which ones need to be moved.

If so, I don't think there is anything of value in these confs we want to preserve. Most of them redirect to a dead location. Many are strange any should not have been set up to

[2018-12-13 13:10] cmungall commented on #957
This conf thing may have been a red herring anyway.

The thing we care about is the top level of the old svn

[2018-12-13 13:19] cmungall opened #959 "Ensure all top level URL paths from old website resolve to content in the new website"
Note this is distinct from the redirects #957

The previous system served content driven by svn, from here: http://viewvc.geneontology.org/viewvc/GO-SVN/trunk/

top level directories mapped to top level svn folders, e.g

http://www.geneontology.org/external2go/
->
http://viewvc.geneontology.org/viewvc/GO-SVN/trunk/external2go/

We should make sure all top level geneontology.org folders go somewher

[2018-12-14 00:05] kltm commented on #959
@cmungall Thank you for the all the footwork here--we can start the with the proxy and work out from there fresh on a test URL.

[2018-12-14 17:37] ValWood commented on #942
This is my draft text, but I'd like to check that this makes sense in the  context of the report.

The “Matrix project” uses a set of  QC rules generated using co-annotation and biological knowledge.
Rules are created if two  GO terms are usually never observed to annotate the same gene product simultaneously, after assessing the presence or absence of annotations across a set of  evolutionarily d

[2018-12-14 18:32] ValWood commented on #942
I found this page,
http://release.geneontology.org/2018-12-01/reports/shared-annotation-check.html
but it isn't organism specific....
What do people see in their organism taxon checks? That is what I can't find...

[2018-12-14 18:42] kltm commented on #942
Organism-specific taxon checks are still in development with @dougli1sqrd and @balhoff .
I believe that we do have something though, provided by the old owltools. @dougli1sqrd , is that correct, or have those been shuffled off?

[2018-12-14 19:51] ValWood commented on #942
This isn't really realted  to do "organism-specific taxon checks".... all I'm asking is"

where to find the "organism specific taxon violations" for the matrix rules (remember...the pending paper you are first author on?)

.... there are no taxon restrictions included in these rules, these are currenlty completely orthogonal (although there is potential to include taxon specific rules in the futur

[2018-12-14 23:02] suzialeksander commented on #847
Possibly related:
Should we review the files provided in this table? For example, the most recent annotation in the JCVI file is over 9 years old, and we link to a non-existent site http://cmr.jcvi.org/

[2018-12-17 00:47] kltm commented on #959
Starting to add things to this list on test.geneontology.io
(note: I am @kltm, not "KTLM")

[2018-12-17 01:33] kltm commented on #959
Test URLs for *ontology*:
http://test.geneontology.io
http://test.geneontology.io/external2go
http://test.geneontology.io/external2go/ec2go
http://test.geneontology.io/ontology/go.obo

[2018-12-17 13:44] cmungall commented on #959
Not sure whether we need a new ticket for this but obviously we need to redirect /page/ to /docs/

E.g. current URL
http://geneontology.org/page/download-go-annotations

Dead:
https://geneontology.github.io/page/download-go-annotations

Should go here:
https://geneontology.github.io/docs/download-go-annotations

[2018-12-17 15:30] mah11 commented on #942
@kltm - Val is asking whether there are versions of the shared-annotation-check report split out into one page/report per species or contributor, as the gorule checks, predictions, etc. are
("taxon checks" in https://github.com/geneontology/go-site/issues/942#issuecomment-447413725 was a mistake). If not (and it isn't on the to-do list already), one of us should open a ticket requesting this, beca

[2018-12-17 17:05] lpalbou commented on #959
Hi Chris, whenever the other redirects are ready, I can implement those redirects with the GH plugins (we discussed this before); should take no more than a few hours as I have the list of original most visited URLs from google analytics. If the other redirects are ready, I could do that tomorrow.

[2018-12-17 18:43] kltm commented on #942
@mah11 I talked to Val about this a little bit, but we never made a ticket.
https://github.com/geneontology/shared-annotation-check/issues
Minimally, we would bee a species/resource list to divide by.
We would probably end up putting it under "pipeline" as a project.

[2018-12-18 12:50] lpalbou commented on #959
@cmungall done for the 80 most visited links: https://github.com/geneontology/geneontology.github.io/pull/109

[2018-12-19 18:46] ValWood commented on #942
Yes Midori is correct, I want to see these in species-checks.

Also, despite being told a number of times, and book marking the correct place,  for some reason I can't find the place to look for the species checks. I, therefore, think others might find this quite challenging.  I think this is what Seth is referring too. If people can't find these files, the annotation aren't going to get fixed, so

[2018-12-19 23:42] kltm commented on #959
@cmungall http://geneontology.org/gp_unlocalized does not seem to exist

[2018-12-20 00:11] mugitty opened #963 "Organisms in drop-down for enrichment tool is not the same as list of organisms supported for enrichment by PANTHER"
List of supported organisms for enrichment has been updated on pantherdb.org. Enrichment form  on landing page has to be updated to reflect the change.

[2018-12-20 00:21] kltm commented on #963
Could you add a full list of codes to this ticket?
As well, I assume that the list is backwards compatible for the time being?

[2018-12-20 00:39] kltm commented on #959
Talking to @cmungall http://geneontology.org/gp_unlocalized and http://geneontology.org/gpad-gpi unneeded/unmapped for now. /gp2protein and /gp2rna will be skipped for now and re-added to the pipeline if needed (as they change and would require storage).

I added /go-cam, but that may need to be adjusted a bit to work with the proxy.

For the rest, there should not be testable rewrites in place.

[2018-12-20 00:40] kltm commented on #959
@cmungall Please close at your satisfaction.

[2018-12-20 00:43] kltm opened #964 "Move OBO format definitions to new docs site, ensure path is in place"
Copy contents of http://viewvc.geneontology.org/viewvc/GO-SVN/trunk/www/formats/ to new gh site

Serve from http://(www.)geneontology.org/formats/

Originally from https://github.com/geneontology/go-site/issues/959#issuecomment-446971679

[2018-12-20 00:45] kltm commented on #959
@lpalbou Could you point me towards the discussion mentioned here: https://github.com/geneontology/go-site/issues/959#issuecomment-447920695 ? I'm not remember with my brain parts real good at the moment...

[2018-12-20 00:47] kltm opened #965 "Ensure that the current /go-cam web app can operate through the root domain proxy"
Currently, the /go-cam web app at geneontology.cloud does not work well with the proxy; ensure that the current /go-cam web app can operate through the root domain proxy.

Originally noted in https://github.com/geneontology/go-site/issues/959#issuecomment-448809876

If this turns out to be onerous, we can use a temporary redirect in the interim.

[2018-12-20 01:08] kltm commented on #958
Also note that we'll need to take over the www subdomain in a safe way. Playing with it a little, a subdomain redirect may work better than a server alias (and the related SSL quirks).

[2018-12-20 05:07] kltm commented on #958
www test with www-test.geneontology.io

[2018-12-20 08:22] pgaudet commented on #956
@selewis
I had done actual GAFs for checking the rules (see https://drive.google.com/drive/folders/12H6Kz9BsFEhtllx7CMy9OW29FeiC8GwQ) - can they be translated into this yaml format ? How is this going to work?

Thanks, Pascale

[2018-12-20 09:57] mah11 commented on #942
@kltm

OK, I've opened https://github.com/geneontology/shared-annotation-check/issues/2

[2018-12-20 16:58] lpalbou commented on #959
@kltm I was answering this https://github.com/geneontology/go-site/issues/959#issuecomment-447850342. It is also referring issue https://github.com/geneontology/go-site/issues/789 (`set up http / forwarding @kltm @lpalbou mixture of apache and gh pages`) and at least another issue where we discuss the redirect-from plugin to use with GH pages

[2018-12-20 17:44] lpalbou commented on #965
It's possibly be due because the go-cam site is a SPA, hence every redirects should be sent to the index.html ?

[2018-12-20 17:57] lpalbou commented on #789
@kltm could you check that the following ftp address will still be valid ? It is massively used in R/Bioconductor by the [GO.db package](http://bioconductor.org/packages/release/data/annotation/manuals/GO.db/man/GO.db.pdf):

[2018-12-20 18:54] selewis commented on #956
We'll try and load those examples via script since you've already gone to the trouble of creating them. They sparked further discussion, so it was not for naught.

[2018-12-20 19:41] #959 closed

[2018-12-20 20:13] kltm commented on #789
@lpalbou Wow, that is an old old FTP address. As well, it's not been supported for some time, as far as I know. I think this may be a case where we go for the break and reach out to them if you think they were actually actively using it.

[2018-12-21 11:22] lpalbou commented on #789
No idea but it's probably the good time to contact them. What seems strange however is that they were apparently able to retrieve a version on October 10 (copy paste from their R documentation) ?

[2018-12-21 12:39] cmungall commented on #789
Process still running at Stanford, e.g
http://archive.geneontology.org/

Before contacting them we should have a plan

 1. Dockerize the mysql build code (a) and run as part of the pipeline (frequency tbd) (b)
 2. Volunteer help to migrate their code to existing downloads, potentially making new TSVs if it helps
 3. No support, just point them at existing files

1+2 would take resources, we'd coor

[2018-12-21 19:44] kltm commented on #789
@cmungall The archive walkback is still something in our TODO list (there's a ticket), but has a very low priority at this point.
As far as 1 goes, part of what we want to do with this transition is jettison as much of the legacy code and downloads as we can. I think that trying to bring in mysql support at this point is probably a bit much. (Although I could be argued into it.)
For 2, generating

[2018-12-22 23:16] huaiyumi opened #966 "Species name Trypansoma brucei in enrichment tool has TRYB2 in the name"
In the drop-down menu, the species name Trypansoma brucei has TRYB2 in front the name. This may cause the PANTHER site not recognizing the species and throw an "invalid species" error when people use the tool in GO.

[2018-12-22 23:48] kltm commented on #966
Is this different than #963 ?

[2019-01-03 21:03] dougli1sqrd opened #968 "GO Rules: Add example passing/failing data to go rules"
Now that we have a yaml schema in place for the go rules to add example passing and failing data (https://github.com/geneontology/go-site/issues/956) we can add the data to the go rules. This data can be read by software to perform the comparison test.

[2019-01-03 21:03] cmungall opened #969 "PAINT and EcoCyc are using different gene product IDs"
RecA in E coli is represented twice:

http://amigo.geneontology.org/amigo/gene_product/EcoGene:EG10823
http://amigo.geneontology.org/amigo/gene_product/UniProtKB:P0A7G6

These are all to UniProtKB:
http://release.geneontology.org/2018-12-01/products/annotations/ecocyc-src.gaf.gz

All to EcoGene (except Ins genes)
http://release.geneontology.org/2018-12-01/products/annotations/paint_ecocyc-src.gaf.

[2019-01-03 21:12] dougli1sqrd opened #970 "GO Rules: Software to read the example data and expected output"
GO Rules now have example data in the yaml as specified by the schema in https://github.com/geneontology/go-site/issues/956 we need software that can read this data.

This new system should read a go-rule yaml file, parse the example data and compare the given expected result with what the gaf parser actually gets, and then output the result somehow (as a yaml or json file of all likelihood. The s

[2019-01-03 21:14] dougli1sqrd commented on #968
@pgaudet has created many examples already here: https://drive.google.com/drive/folders/12H6Kz9BsFEhtllx7CMy9OW29FeiC8GwQ

[2019-01-03 21:14] dougli1sqrd commented on #956
We have tickets now for adding the example data https://github.com/geneontology/go-site/issues/968, and for creating the software https://github.com/geneontology/go-site/issues/970.

I think this ticket should be closed, as the primary focus here was the schema implementation.

[2019-01-03 21:14] #956 closed

[2019-01-03 21:16] jimhu-tamu commented on #969
We will look at this, as it looks like the filters we run on the gaf must need some debugging. But note: EcoCyc downloads the UniProt-goa files and translates the annotations to refer to EcoCyc protein IDs. Then they add annotation made in EcoCyc, also using EcoCyc IDs. We get that from them, add anything from EcoliWiki, and translate back to UniProt IDs. There should not be any EcoGene IDs in the

[2019-01-03 21:22] cmungall commented on #969
I don't know the background of why EcoCyc IDs wouldn't work, I'll leave it to you and Dustin to coordinate on IDs.

aside for Jim; when checking your most recent GAF I noticed there is one line that includes a space at the beginning of col1:

[code]

[2019-01-03 21:35] dustine32 commented on #969
I also don't know off the top of my head why EcoCyc IDs wouldn't work with PAINT. From PAINT's perspective, it would import the GAFs using the EcoCyc ID and map it to the Panther (long) ID, which also contains the UniProt ID (`ECOLI|EcoGene=EG10823|UniProtKB=P0A7G6` for this example) anyway.

These annotations could then be used as evidence for the PAINT annotations that are then applied to these

[2019-01-03 23:03] huaiyumi commented on #966
@kltm Yes.

[2019-01-07 23:46] kltm commented on #846
@suzialeksander Adding to a project for now, but "owners" should prioritize this.

[2019-01-08 15:56] vanaukenk opened #972 "Content of 'gocheck_do_not_annotate' in release different from geneontology.org"
Hi,

The content of the 'gocheck_do_not_annotate' subset is different depending on where you look.

For example, checking for GO:0005622 'intracellular', I can see it in the subset on current and snapshot:

http://current.geneontology.org/ontology/subsets/gocheck_do_not_annotate.obo

http://snapshot.geneontology.org/ontology/subsets/gocheck_do_not_annotate.obo

but do not see it in the subset on g

[2019-01-08 18:10] cmungall commented on #972
@kltm and I will check later today

[2019-01-09 00:40] cmungall commented on #972
We'll fill you in tomorrow, but basically this will be fixed with the new release of the website when we switch geneontology.org to the new site.

[2019-01-09 18:43] suzialeksander commented on #789
This is a list of minor issues, or just things that don't look right:

 * [ ] https://test.geneontology.io/docs/introduction-to-go-resource has link to https://geneontology.github.io/docs/go-enrichment-analysis/ , which seems to be at a different level of text zoom? I'd like to look at this again on a 'final' version of the site.

[2019-01-11 20:24] suzialeksander commented on #688
Is this the right place to ask about outdated files?
http://geneontology.org/external2go/tigrfams2go : Dated 2008/08/11
but, ftp://ftp.jcvi.org/pub/data/TIGRFAMs/ lists a 14.0 release from 9/17/14- still old but closer... I don't know how the mappings are constructed so not sure if this newer version matters.

[2019-01-11 21:14] suzialeksander commented on #42
I'm encountering this on download-mappings.md, part of #789.

[2019-01-11 22:02] kltm commented on #688
http://test.geneontology.io/external2go/tigrfams2go goes to
http://snapshot.geneontology.org/ontology/external2go/tigrfams2go , which is blank.
However, we have others: http://snapshot.geneontology.org/ontology/external2go
It looks like the tiger mappings are just not being generated?

[2019-01-11 22:05] kltm commented on #42
If this is needed for release (as in it is currently working and we would be breaking something with the release), go ahead and add it to the super. If not, we can have it as a website goal for this (or some other) release.

[2019-01-11 22:21] cmungall commented on #688
Assign to Eric he known the go-ontology Makefile

On Fri, Jan 11, 2019 at 2:02 PM kltm <notifications@github.com> wrote:

[2019-01-11 23:40] suzialeksander commented on #688
No idea if this is related, but accessing the Rfam mapping here:
http://geneontology.org/external2go/rfam2go

the mapping has no header (date, etc).

(Likely doesn't matter, but I access this through https://test.geneontology.io/docs/download-mappings/ and I'm assuming it will change soon)

[2019-01-14 20:03] ValWood opened #975 "Add evidence metadata for Google"
If I google "Gene ontology evidence codes"

this page,
http://www.candidagenome.org/cgi-bin/GO/goEvidence.pl

gets  prominence in a "box" at the top. How can that be. It ust be configurable somehow?

[2019-01-14 21:56] kltm commented on #975
In this case, I do not currently see the box you mention myself. My results for the Google search contain no box and has that site as number five (after the usual more obvious locations).
Looking at the page, I see no obvious metadata that google is pulling.

Could you possible add a screenshot of what your seeing?

Also see:
https://github.com/geneontology/amigo/issues/534

[2019-01-14 22:09] ValWood commented on #975
![evidence codes](https://user-images.githubusercontent.com/7359272/51144474-0c53ab80-1849-11e9-9622-57a2f015b108.jpg)

[2019-01-15 09:21] ValWood commented on #975
Good point. The GO evidence page is a list linking to the wiki....

[2019-01-15 09:22] ValWood commented on #975
you can close if you like, I was curious...

[2019-01-15 18:02] suzialeksander commented on #789
Anyone have any problems with me consolidating https://test.geneontology.io/docs/go-file-format-guide/ onto https://test.geneontology.io/docs/downloads/, then deleting go-file-format-guide?

I think @pgaudet is still out, but @kltm ?

[2019-01-15 18:41] lpalbou commented on #789
@suzialeksander what kind of problem are you having ?

The "Related Tools" section can go at the end of the /downloads file and the "GO Formats" can easily be merged in the paragraph "Download the Ontology" since this very short "Download the Ontology" is more a descriptive section of the files we provide rather than a way to download the files, except for the link "the Ontology" (in the title) wh

[2019-01-15 19:23] suzialeksander commented on #789
@lpalbou I meant problems as in "is anyone sentimentally attached to go-file-format-guide and would be angry if I deleted it" 😉

Agreed, I don't really like the download link in the title, but the download link was previously the _entire title_ which was even worse.  Still straightening these pages out, thanks for the input!

[2019-01-15 19:41] kltm commented on #789
@suzialeksander  No issues at my end--new stuff should be good on its own without history. Worst case is we have a page mapping for old stuff.

[2019-01-15 19:49] cmungall commented on #789
+1 to consolidating

[2019-01-15 21:10] kltm commented on #958
To close this:

- [ ] check logging
- [ ] check backups
- [ ] flip DNS
- [ ] final check

[2019-01-15 21:14] kltm opened #976 "Pull Drupal website from service"
This is part of the effort post #958 , as a security fix and backup option.

Closing this will be permanently disabling all access to the old Drupal site on the Stanford AWS machine. If nothing else is on the machine, stopping or terminating the image.

[2019-01-15 21:15] kltm commented on #976
Not necessary for the completion of the new site release.

[2019-01-15 21:32] kltm opened #977 "New website needs to support some kind of documentation search"
Currently, the new website does not have any method of searching within the site/documentation. This is a very common use case and will need to be supported for release.

Most easily, this could be done with a custom search box from google, etc. It may be nice to supply a site.xml as well.

Other (more complicated) methods could be https://lunrjs.com/ , compiled search in jekyll, etc. It may be be

[2019-01-15 21:36] kltm opened #978 "Check that all URLs work and are consistent on new website"
To close this issue, we would want positive results that:

- [x] all core URLs still work
- [x] URLs checked via spidering are consistent and make sense
- [ ] trim out URLs that we don't want public; e.g. api.geneontology.cloud and possibly golr*.geneontology.(org|io)

[2019-01-15 21:38] kltm commented on #978
Since we have done so much remapping, etc., as part of this, it would probably be good practice to add a custom 404 page contains a search element #977

[2019-01-15 21:41] kltm opened #979 "Mini-header on new website homepage needs to new up to date"
The header on the new website's homepage that contains release information is not up to date and is misleading.
The header needs to be either automatically updated, have an update plan in place, or removed.

[2019-01-15 21:44] kltm commented on #789
The super has gotten a little unwieldy here. All release-critical issues are to be spun out and put into the "In progress" column in the project. Clearing that column should be the prime immediate priority, and would effectively constitute the release once #958 cleared.

Talking with @suzialeksander I think for blockers, we have so far are:
#958
#977
#978
#979

Any other blockers should be added a

[2019-01-15 22:17] lpalbou commented on #789
@kltm you can remove #977 as it is done since October, although we could always improve it.

IMHO, all these posts should be in the geneontology.github.io repo and not here.

[2019-01-16 01:47] kltm commented on #938
This ticket encompasses splitting the current confusion/conflicts with using the YAML metadata as both input and output definitions. We will need to have these be separate, but related metadata files/types.

[2019-01-16 01:47] kltm commented on #846
Talking to @cmungall , we're going to put a `species_code` mapper into the templating script as a temporary measure until we have separated the input and output aspects of the metadata. See #938

[2019-01-16 01:48] kltm commented on #846
Once we take action on this, it will be in "Clearing" until the end of the month.

[2019-01-16 21:54] kltm commented on #846
@suzialeksander Starting tomorrow, could you look at http://snapshot.geneontology.org/products/pages/downloads.html and let me know if it is sufficient to move this item forward?

[2019-01-16 21:55] suzialeksander commented on #846
Sure,  no problem. I'll check in the afternoon to give time for everything to settle

[2019-01-17 20:00] suzialeksander commented on #846
I don't see a difference yet... these were the changes in build #630 correct?

[2019-01-17 20:35] suzialeksander opened #980 ""Help" in top menu needs kerning"
@lpalbou I believe you fixed something similar on the GO-CAM site quite easily?

[2019-01-17 20:36] suzialeksander commented on #980
This issue was moved to geneontology/geneontology.github.io#118

[2019-01-17 20:36] #980 closed, assigned to nobody

[2019-01-17 21:14] kltm commented on #846
CloudFront has been kicked. Should work now.

[2019-01-17 23:51] suzialeksander commented on #846
yep, that looks better.  The only outlier I still see is for Gramene, I think this should read

__Oryza sativa__
Gramene (gramene)

One question: has the goa_dog_complex.gaf always been so large? Any reason to keep this displayed?

I see it wasn't in the original ticket, but I remember @thomaspd also really wanted the n/a out of the Entity type column- change to gene? I know SGD should be gene, lo

[2019-01-17 23:57] kltm commented on #846
`gramene_oryza` is a metadata issue, so the issue would be in go-site or could be edited in the metadata directly. Similarly, I'm guessing that the n/a's are just related to the `entity_type` in the metadata. Fixes to these are not directly related to this item maybe (metadata changes, etc.), so unless there are still release blockers, I'd vote for new tickets and moving this on.

[2019-01-18 18:10] suzialeksander opened #981 "Metadata for Gramene needs to be edited"
The table that allows users to access annotations (bottom of geneontology.github.io/_docs/download-go-annotations.md, which links to http://current.geneontology.org/products/pages/downloads.html) displays 'gramene_oryza' for Gramene, should display

__Oryza sativa__
Gramene (gramene)

[2019-01-18 18:11] suzialeksander commented on #846
Found the ticket for entity type: https://github.com/geneontology/go-site/issues/847
 'gramene_oryza' display name: https://github.com/geneontology/go-site/issues/981

[2019-01-18 18:11] #846 closed

[2019-01-18 22:32] kltm commented on #847
The data there parrots what is found in the YAML metadata files:
https://github.com/geneontology/go-site/blob/master/metadata/datasets/
These can be updated easily, but I'm not familiar enough to insert the correct values. As well (maybe a different ticket), removing dataset entries for resources no longer needed.

[2019-01-19 00:09] cmungall commented on #847
We should review the submissions that get included, but make separate tickets for this

[2019-01-19 00:35] suzialeksander opened #982 "Remove Annotation Downloads dataset for Dog, complex (is blank)"
Spawned off of #847:

Need to review the Annotation Downloads (bottom of geneontology.github.io/_docs/download-go-annotations.md, which links to http://current.geneontology.org/products/pages/downloads.html) and remove unneeded entries

[2019-01-19 00:35] suzialeksander commented on #847
Ok, that ticket's made, #982

[2019-01-19 02:07] nsuvarnaiari commented on #865
Hi @cmungall

While Pascale is out, could you grant me (@nsuvarnaiari ) and Michelle (@mgiglio99) privileges to access Noctua?
Both of us filled the google form http://bit.ly/new-noctua-user.

Thanks,
Suvvi

[2019-01-19 03:01] kltm commented on #865
production and dev sites should now be refreshed.

[2019-01-19 03:01] #865 closed

[2019-01-22 21:17] kltm commented on #965
Now using forwarding until proxy fixes in place.

[2019-01-29 21:46] dougli1sqrd opened #985 "Simple Annoton Editor logic should be encoded as GO Rules"
@tmushayahama has lots of code that checks the validity of triples as they are created and edited.

These checks should reference existing GO Rules, and if such a rule does not exist, it should be created.

Let's list out the checks we find here, and then this ticket is closed when each these is encoded as a GO Rule.

[2019-01-29 22:14] dougli1sqrd commented on #837
https://github.com/biolink/ontobio/pull/284

[2019-01-29 22:21] dougli1sqrd commented on #837
For now, any naming or renaming won't happen in this ticket. At this point in the pipeline we don't know the future URLs for these files. We would need to come up with a more clever solution for that, and so let's make that a separate ticket if we want to do that.

[2019-02-01 18:12] kltm opened #988 "Add a GO Rule to make sure that all properties map to URIs"
For GPAD ensure that all properties map to URIs.

[2019-02-01 19:09] kltm opened #989 "Remove all annotations from an incoming resource by assigned_by"
Once the ingested import has been completed, we will need to be able to remove all annotations from an incoming resource by assigned_by. This will create the "remainders" file that we'll need to continue with the resource.

This will follow the same pattern as PAINT.

[2019-02-05 19:50] dougli1sqrd commented on #837
http://snapshot.geneontology.org/reports/fb-report.html#rmd

This shows the header from the original source fb file in snapshot.

[2019-02-05 19:50] #837 closed

[2019-02-05 20:39] kltm commented on #53
Now using certbot pretty generally. We have tested it out for the main site and are pretty happy.
The work in operations for https://github.com/geneontology/geneontology.github.io/issues/101 has given us most of what we need. I think the easiest might to be to support both HTTP and HTTPS for a while, with the latter just a proxied HTTP, without the forced redirect.

[2019-02-06 16:23] kltm commented on #988
Note that this should include all required and optional properties in the comments section.

[2019-02-07 02:59] kltm commented on #65
I think we can say this has been generally solved with the completion of the new pipeline...and not having seen this for years.

[2019-02-07 02:59] #65 closed

[2019-02-08 02:13] kltm commented on #958
@stuartmiyasato One more off the list. My backup-fu is weak, but the ansible playbooks work nicely.

[2019-02-08 02:13] #958 closed

[2019-02-08 18:21] kltm opened #991 "Parallelized logs from mega-Makefile hard to read"
Due to the nature of multiple processes all writing to the same log, it is now very difficult to parse the order of events or what things failed during a run.

As an example from https://build.geneontology.org/job/geneontology/job/pipeline/job/snapshot/659/consoleText , errors and a stack trace interleaved with a download:

[code]

[code]

As a possible fix, perhaps some logs should be sent to sep

[2019-02-11 12:25] alexsign opened #993 "Create new go refs format and generate GO.references"
Hi,
I cannot download following any more.
http://www.geneontology.org/doc/GO.references
It gives 404 error. If it's planned removal, can you please point me to an alternative resource.

[2019-02-11 14:09] alexsign commented on #688
I'm not sure it's the right place, but following has a lot of file missing.
http://snapshot.geneontology.org/ontology/external2go/
I got multiple emails about
http://www.geneontology.org/external2go/uniprotkb_kw2go
is missing, but many other links from
http://geneontology.org/docs/download-mappings/
are not working.

[2019-02-11 21:30] kltm commented on #993
Duplicate of geneontology/helpdesk#180

[2019-02-11 21:55] kltm opened #994 "Update all datasets metadata that use old root domain reference geneontology.org"
With the switch of the root domain to a new machine, many old mappings no longer work. A critical one, the web version of the SVN repository cannot be mapped over on the root without porting the SVN server or adding two new mappings to bridge.

As a better stopgap solution until we get rid of the dependencies on SVN (see https://github.com/geneontology/go-site/issues/784), we'll make use of the vi

[2019-02-11 21:56] kltm commented on #994
Mapping like: http://viewvc.geneontology.org/viewvc/GO-SVN/trunk/gene-associations/submission/gene_association.aspgd.gz

Tagging @dougli1sqrd

[2019-02-11 23:12] cmungall commented on #688
For now we will hardcode the paths in https://github.com/geneontology/go-site/blob/master/metadata/datasets/goa.yaml

in the Makefile:

https://github.com/geneontology/go-ontology/blob/456915821627e32bc8593df79b6d35f1d4d6bc3b/src/ontology/Makefile#L423-L424

[2019-02-11 23:19] cmungall commented on #688
I did interpro2go here: https://github.com/geneontology/go-ontology/pull/16914

@dougli1sqrd can add the others

Later we will properly ingest, and slurp into go-basic, where they can be exported with the owltools command

[2019-02-12 00:12] kltm commented on #688
Noting user expression of this issue here: https://github.com/geneontology/helpdesk/issues/178

[2019-02-12 00:38] kltm commented on #993
We used to have a file http://52.27.86.54/doc/GO.references that no longer seems to have an analog. We now produce http://snapshot.geneontology.org/metadata/gorefs/, from the metadata at https://github.com/geneontology/go-site/tree/master/metadata/gorefs .

We want to:

- [ ] create a new metadata metadata/go-refs.json, compiled from metadata/gorefs/goref-*.yaml
- [ ] convert this file into metada

[2019-02-12 01:48] kltm commented on #993
http://geneontology.org/doc/GO.references now temporarily working again.

[2019-02-12 11:48] alexsign commented on #993
thanks @kltm Can I assume http://snapshot.geneontology.org/metadata/gorefs/ is new permanent location and all gorefs combined file will not be produced in the future?

[2019-02-12 18:32] kltm commented on #993
@alexsign

From https://github.com/geneontology/go-site/issues/993#issuecomment-462557136 , we will be producing a work-a-like for GO.references from a new format that we'll be producing (at a new location). In the interim, we've manually added the old file.
In general, we'd encourage people to use the versioned monthly releases, with the most recent at current.geneontology.org. There are special

[2019-02-12 19:59] cmungall commented on #993
Minor: would be nice to set mime type so it resolves as a text file in a browser rather than defaulting to download

[2019-02-13 00:01] kltm commented on #688
Temporary fix in for snapshot (then release), now being tested.
Closure of this ticket still hinges on switching this over to reading from the metadata files instead of the current hard-coding.

[2019-02-13 20:18] kltm opened #996 "Decide on fate of "unmanaged" external2go files"
The following external2go files have been deposited into SVN, but currently have no known upstream fiile or manager:

- [ ]    cog2go
- [ ]    egad2go
- [ ]    genprotec2go
- [ ]    mips2go
- [ ]    multifun2go
- [ ]    rfam2go
- [ ]    tigr2go
- [ ]    tigrfams2go
- [ ]    um-bbd_reactionid2go
- [ ]    unipathway2go

We would like to either take over the management of the file (in which case it c

[2019-02-13 20:23] kltm commented on #688
Note that some of these currently fall through the cracks here #996

[2019-02-13 20:24] kltm commented on #400
Note https://github.com/geneontology/go-site/issues/688 and https://github.com/geneontology/go-site/issues/996

[2019-02-13 20:34] kltm opened #997 "Migrate away from legacy GO SVN for annotation file sources"
The following resources still use the GO SVN as the deposit and pickup point for their annotations. We would like to migrate these resources away. Preferably from a URL of their own choosing (and support), but we could support something if necessary, TBD. The primary goal is to suspend the use of the GO SVN for anything but historical purposes.

- [x] aspgd.yaml:   source: http://viewvc.geneontolo

[2019-02-13 20:37] kltm commented on #784
Moving work portion to fresh ticket at #997 .

[2019-02-13 20:37] #784 closed

[2019-02-13 20:39] kltm commented on #996
Noting some previous work at https://github.com/geneontology/go-annotation/issues/2056 from @vanaukenk :

The QA/QC group will be reviewing the external2go mappings that exist here:

http://viewvc.geneontology.org/viewvc/GO-SVN/trunk/external2go/

to determine:

    Are the mappings still being used for annotation?

    Who is responsible for maintaining the mappings?

    Who is responsible for a

[2019-02-13 20:53] cmungall commented on #996
[not to keep moving stuff around but I'd say this falls within the remit of the ontology group]

@thomaspd will reach out to NCBI about COG. We need to find out if they maintain mappings. If not I think we have no option but to take on the mainentance as IMO these are important.

You can assign unipathway to me. I have already 'rescued' unipathway into github: https://github.com/geneontology/unipa

[2019-02-14 22:36] kltm opened #998 "Add a GO Rule to ensure that no bioRxiv references used for evidence are more than 1 or 2 years old"
As discussed on 2019-02-13 call, while we would allow the use of bioRxiv articles as evidence, none than one or two years (TBD) would be allowed unless they were "updated" with a new date or examined and updated with the final publication information.

[2019-02-15 11:06] alexsign opened #999 "Drop in number relations in go-plus.json file"
There is about 3000 term relations less in the new
http://purl.obolibrary.org/obo/go/snapshot/extensions/go-plus.json
total of 94974 compare to 97904 one from 13th of February.
Please confirm that this is intentional removal.

[2019-02-15 15:42] cmungall commented on #999
@ukemi @balhoff regulates inferences?

[2019-02-15 15:42] balhoff commented on #999
I don't think we've made any changes related to that yet.

[2019-02-15 15:43] ukemi commented on #999
Shouldn't be. I don't think we have implemented that. I am still going through the big QC file.

[2019-02-15 16:11] cmungall commented on #999
Note there was a large change in numbers of each type, with has_input, has_output, has_participant being selectively replaced with more specific relations. But there should be no overall drop

[2019-02-15 16:12] ukemi commented on #999
That makes sense.

[2019-02-15 20:23] kltm commented on #993
Downgraded as temp in place.

[2019-02-16 02:18] kltm commented on #993
Temporarily blocked by https://github.com/dougli1sqrd/yamldown/issues/3

[2019-02-16 02:55] kltm opened #1001 "GO refs do not seem to be properly formatted yamldown/frontmatter"
Currently, the GO refs in /metadata/gorefs/goref-*.md do not seem to parse properly under any frontmatter/yamldown parser, giving a variably confused mess.

Related to: https://github.com/dougli1sqrd/yamldown/issues/3 and https://github.com/geneontology/go-site/issues/993

[2019-02-16 03:02] kltm opened #1003 "GO refs need checking to make sure that they are actually frontmatter/yamldown"
Currently, while gorefs treated as if they were yamldown/frontmatter, they do not actually parse as such. There is a retroactive fix in the works (see #1001 and #1002 ), but we should add something to travis to ensure that there is not a problem on PRs. I'd naively assume that we could replicate what we do to make the gorules compliant.

[2019-02-16 03:02] kltm commented on #1003
Tagging @dougli1sqrd , let's talk about this later on.

[2019-02-18 11:29] pgaudet commented on #1003
I thought this was one of the GO rules ? (maybe not yet implemented).

Pascale

[2019-02-18 15:01] pgaudet opened #1004 "Which version of GO do we have in AmiGO?"
Hello,

The term label for GO:0008283 was changed in Dec 2018 according to the QuickGO log (https://www.ebi.ac.uk/QuickGO/term/GO:0008283), from 'cell proliferation' to 'cell population proliferation'; however in AmiGO we still have the old label.

Is this expected ?

Thanks, Pascale

[2019-02-18 19:40] cmungall commented on #1003
No, this is a syntax check separate from go-rules

[2019-02-18 19:44] #140 closed

[2019-02-18 19:44] #124 closed

[2019-02-19 00:28] cmungall commented on #1004
I think this is the cause: https://github.com/geneontology/amigo/blob/master/conf/examples/amigo.yaml.production#L182

AmiGO depends on ECO for evidence. ECO bundles a stale version of GO in its release (it uses GO:0008283 to define cell proliferation evidence).

This is a simple configuration fix

[2019-02-19 15:26] #994 closed

[2019-02-20 09:23] alexsign commented on #999
Does anyone still looking into this or 3000 relations gone for good?

[2019-02-20 12:45] ukemi commented on #999
Hopefully this will be fixed as part of this work.
https://github.com/geneontology/helpdesk/issues/192

[2019-02-20 12:53] alexsign commented on #999
@ukemi thanks

[2019-02-20 16:30] lpalbou commented on #965
@kltm do we close this ticket as it's working for the moment ?

[2019-02-20 16:38] lpalbou commented on #978
@kltm closing this as all core URLs are working, we now have the 404 search page and the other URLs are part of a larger efforts (true GO/BioLink API + GOlr indexing)

[2019-02-20 16:38] #978 closed

[2019-02-20 16:43] balhoff commented on #991
There are some `make` options related to this: https://www.gnu.org/software/make/manual/html_node/Parallel-Output.html

[2019-02-20 16:57] lpalbou commented on #789
I am marking this as done as I didn't found any reference to that link:
* Broken link: https://test.geneontology.io/docs/collaborations/cjmungall@lbl.gov on https://test.geneontology.io/docs/collaborations/

Also fixed rapidly some of the items

[2019-02-20 21:37] lpalbou commented on #873
@cmungall you are the only one (to my knowledge) having access to OBO to change those PURLs. Can you help us ?

[2019-02-21 00:01] kltm commented on #976
Site now  deactivated.

[2019-02-21 00:01] #976 closed

[2019-02-21 00:23] kltm commented on #1001
Whether or not they were proper before, they are at least conforming to a tighter "conforming" subset now.

[2019-02-21 00:23] #1001 closed

[2019-02-21 00:30] cmungall commented on #873
Anyone can make a PR: https://github.com/OBOFoundry/purl.obolibrary.org/blob/master/config/go.yml

[2019-02-21 00:50] kltm commented on #1003
Talked to @dougli1sqrd and will copy what we do for the rules checks with schema in travis.

[2019-02-21 01:16] lpalbou commented on #873
@cmungall https://github.com/OBOFoundry/purl.obolibrary.org/pull/489

I also changed the last "/" as I think the GO PURL should point to current and not snapshot, please confirm

[2019-02-21 23:13] kltm commented on #1003
Talking with @dougli1sqrd , at least for now we'd like to "generalize" sparta to be able to schema check yamldown/frontmatter on more than just gorules. This would involve pretty much just pushing the glob to the command line and adjusting the travis checks accordingly.
If I get ahead of @dougli1sqrd on this, I may try something nasty with renaming the files in the travis check that should be undo

[2019-02-22 00:40] kltm commented on #965
This is for removing the .cloud extension by making it work via the proxy. There is another ticket (around here somewhere) which was just putting the forwards in place for now.

[2019-02-22 00:44] kltm commented on #789
Yeah, it doesn't seem to be there any more. We'll likely spider periodically and can pick it up again if it shows up again.

[2019-02-22 01:50] kltm commented on #1003
I believe this can be closed with the merging of https://github.com/geneontology/go-site/pull/1006

[2019-02-22 03:21] balhoff commented on #999
@alexsign please take a look at the `2019-02-21` version; hopefully this is fixed.

[2019-02-22 03:29] balhoff opened #1007 "ontology version IRIs redirect to SVN"
The OBO foundry config for GO is set to redirect ontology version IRIs to a path in SVN:

https://github.com/OBOFoundry/purl.obolibrary.org/blob/5efe01fcca394cf05449a185f162c543375d931a/config/go.yml#L42-L43

I presume there is a better path within the new pipeline release system. SVN is serving an ontology from last year for today's version IRI.

If snapshot IRIs are not meant to be permanently a

[2019-02-22 13:29] ukemi commented on #999
They are back in both of the obo files this morning. Once we hear back from @alexsign we can close this.

[2019-02-22 14:08] alexsign commented on #999
@balhoff @ukemi It looks much better now, but I still have 1338 less compare to what is in the database before initial hiccup.

[2019-02-22 14:22] alexsign commented on #999
here is the head of the file with missing relations. I can send full list by email if you like.
CHILD_ID        PARENT_ID       RELATION_TYPE
GO:0000053      GO:0072350      I
GO:0000096      GO:0006520      I
GO:0000097      GO:0008652      I
GO:0000098      GO:0009063      I
GO:0000105      GO:0009073      I
GO:0000105      GO:0018130      I
GO:0000105      GO:1901607      I
GO:0000452      GO:0

[2019-02-22 14:40] ukemi commented on #999
Hi @alexsign,

I assume these were all subclass relationships? I looked at the first one.

CHILD_ID PARENT_ID RELATION_TYPE
GO:0000053 (argininosuccinate metabolic process)  is_a GO:0072350 (tricarboxylic acid metabolic process)I

This is no longer inferred by the reasoner. It is an alpha-amino acid metabolic process and a cellular modified amino acid metabolic process. (N(omega)-L-arginino)succin

[2019-02-22 15:30] alexsign commented on #999
@ukemi @balhoff here is the full list
[missing_relations.txt](https://github.com/geneontology/go-site/files/2894629/missing_relations.txt)

[2019-02-22 15:48] ukemi commented on #999
Thanks @alexsign !

It looks like these are all subclasses except one. I wonder if they were all originally asserted and when @cmungall made his changes he removed them. If this is the case then I think this is ok because we should be classifying these based on ChEBI. The exception to this is if we have elucidated a pathway explicitly in GO and we have manually determined that it has more than one

[2019-02-22 15:57] ukemi commented on #999
Hmmm. The plot thickens. I'm not sure why arginosuccinate is not a tricarboxylic acid, but I don't see it in ChEBI.

[2019-02-22 16:32] ukemi commented on #999
For the one part_of relationship, it is between GO:0099504 (synaptic vesicle endosomal processing)  and GO:0099504 (synaptic vesicle cycle). I think this was a manual change made independent of the new relations.

[2019-02-22 16:43] ukemi commented on #999
GO:0002148  (hypochlorous acid metabolic process) is_a GO:0072593 (reactive oxygen species metabolic process) should be inferred. According to ChEBI, CHEBI:24757 (hypochlorous acid) is_a reactive oxygen species CHEBI:26523.

[2019-02-22 17:16] ukemi commented on #999
I think I figured this out! @cmungall and @balhoff , I'm pretty sure we need to change the relation or add relations to the GCIs.

'has output' some 'hypochlorous acid' EquivalentTo 'has output' some hypochlorite

We need to add ones like this:
'has primary output' some 'hypochlorous acid' EquivalentTo 'has primary output' some hypochlorite

[2019-02-23 02:06] kltm commented on #993
Final steps are

- [ ] add script to pipeline
- [ ] check that output and map are okay

[2019-02-25 11:58] pgaudet commented on #963
@mugitty Can you please reply ?

[2019-02-25 12:00] pgaudet commented on #848
Is this done ?
The extension is there - and there only seem to be GAFs (perhaps less chances of confusion for users than if we had multiple file types?)

[2019-02-25 16:10] mugitty commented on #966
pantherdb.org has a web service to return the list of supported organisms (http://www.pantherdb.org/webservices/garuda/search.jsp?type=organism).  This list should be used to generate the items in the drop down menu.

[2019-02-25 18:13] pgaudet commented on #848
We'll reopen when we add the GPI/GPAD files back.

[2019-02-25 18:16] pgaudet commented on #965
@kltm low priority / not planning to do this for Cambridge

[2019-02-25 18:24] pgaudet commented on #42
http://geneontology.org/docs/download-mappings/

[2019-02-25 18:28] pgaudet commented on #964
@kltm Can you check whether this has been done ?

[2019-02-25 18:29] pgaudet commented on #142
@suzialeksander Can you check if this can be closed ?

[2019-02-25 18:30] pgaudet commented on #143
Updated for 2018 GO website redesign

[2019-02-25 18:30] #143 closed

[2019-02-25 18:32] pgaudet commented on #964
See also https://github.com/geneontology/geneontology.github.io/issues/142

[2019-02-25 18:34] #848 closed

[2019-02-25 18:43] pgaudet commented on #292
Done http://snapshot.geneontology.org/ontology/subsets/

[2019-02-25 18:43] #292 closed

[2019-02-25 18:44] lpalbou commented on #966
Done here https://github.com/geneontology/geneontology.github.io/pull/148

[2019-02-25 18:44] #966 closed

[2019-02-25 18:44] lpalbou commented on #963
Done here: https://github.com/geneontology/geneontology.github.io/pull/148

[2019-02-25 18:44] #963 closed

[2019-02-25 19:38] dougli1sqrd commented on #1003
@cmungall @kltm,

This is exactly what the validator does in sparta. It just assumes the file names (when using a directory) are named gorule. The change in sparta would be to pass in the glob.

[2019-02-25 20:06] suzialeksander commented on #142
PANTHER info is loaded, and the EA has a dedicated "?" page linked from the homepage tool. Nothing more to fix on this for now.

[2019-02-25 20:06] #142 closed

[2019-02-25 20:07] suzialeksander commented on #9
No longer use JIRA

[2019-02-25 20:07] #9 closed

[2019-02-25 20:12] suzialeksander commented on #25
I think this is done: http://help.geneontology.org/

(now links to GH not Biostars)

[2019-02-25 20:12] #25 closed

[2019-02-25 20:52] kltm commented on #1003
@dougli1sqrd @cmungall If https://github.com/geneontology/go-site/pull/1006 does not break anything or make matters worse, let's just go with it for now--it's currently blocking further progress on https://github.com/geneontology/go-site/issues/993 as it requires actually clean gorefs files (which are fixed in #1006 )

[2019-02-25 21:46] suzialeksander commented on #981
Update:
Still waiting on Gramene's response, emailed them again today.

[2019-02-25 21:54] kltm commented on #1003
Now in place.

[2019-02-25 21:54] #1003 closed

[2019-02-26 00:14] kltm commented on #964
Tested and deployed with pair https://github.com/geneontology/operations/commit/aae9b921ea2ba692147518137923e71dd2ee06c7

[2019-02-26 00:14] #964 closed

[2019-02-26 00:16] suzialeksander commented on #42
OK, the yaml file is ok, as well as the hard links to the EAWAG-BBD site.  The txt links in the download table (http://geneontology.org/external2go/um-bbd_enzymeid2go etc) don't use the domain, so those work too.  Closing.

[2019-02-26 00:16] #42 closed

[2019-02-26 02:16] balhoff commented on #999
I've updated owltools with the new relations; now need to get it into a new docker image: https://github.com/INCATools/ontology-development-kit/issues/179

[2019-02-26 10:17] pgaudet commented on #660
Fixed - @marcfeuermann recurated the family.

[2019-02-26 10:17] #660 closed

[2019-02-26 10:38] pgaudet commented on #945
@dougli1sqrd @kltm @cmungall

Hello,

Can we implement this soon? Concretely, I would like GORULE:0000026  *not* to be in the reports, since this makes them very hard to read (see for eg http://snapshot.geneontology.org/reports/dictybase-report.html#rmd).

If this can be done rapidly, MODs could review their error reports. Otherwise it's very difficult.

Thanks, Pascale

[2019-02-26 13:46] ukemi commented on #999
Last night and this morning, I changed the logical defs of a bunch of terms that should classify as metabolic processes. I am continuing that work. Once I am done, we can have another look at the diff file to see if we have missed anything. I am hoping that the combination of @balhoff and my work will correct this.

[2019-02-26 14:27] balhoff commented on #999
The new owltools should be in use for the snapshot release tonight, Feb. 26. It takes a while to run though, so the result would probably not be available until Feb. 28, UK time.

[2019-02-26 15:07] alexsign commented on #999
@ukemi @balhoff thanks guys for looking into this. once its done our pipeline will pick it up automatically, but I'll let you know.

[2019-02-26 15:09] ukemi commented on #999
Thanks @alexsign. There may be a few stragglers that I miss by hand, so your results will help me find them. I suspect some differences will be valid due to changes in ChEBI etc, but we will check that.

[2019-02-26 19:28] suzialeksander commented on #981
https://github.com/geneontology/go-site/pull/1010 should fix this

[2019-02-26 19:53] suzialeksander commented on #997
Related to/partial overlap of https://github.com/geneontology/go-site/issues/409

[2019-02-26 23:33] suzialeksander commented on #982
Related, review slims- the SGD slim is in the archived as well as the current slims pages.

[2019-02-27 00:27] kltm commented on #993
Changes pulled through to snapshot and release. All points hit, now waiting to clear.

[2019-02-27 02:36] balhoff commented on #1007
Should be fixed by https://github.com/OBOFoundry/purl.obolibrary.org/pull/492

[2019-02-27 21:06] suzialeksander commented on #981
PR accepted. Closing.

[2019-02-27 21:06] #981 closed

[2019-02-28 00:49] suzialeksander commented on #789
[ ] Still hard links to http://geneontology.org/external2go, eg http://geneontology.org/external2go/um-bbd_enzymeid2go : see https://test.geneontology.io/docs/download-mappings/:

This item is waiting on #688, to see what the URLs look like after the mapping issues are resolved.

[2019-02-28 01:08] suzialeksander commented on #789
Decided EuropePMC link is OK as it's not obvious how to make that search work in Pubmed.  Ok to close this ticket, I guess, after the above download-mappings links are double checked.

[2019-02-28 04:01] balhoff commented on #999
@alexsign please take a look at the lates snapshot (2019-02-27).

[2019-02-28 10:09] alexsign commented on #999
Thanks @balhoff relations looks good now. I have another issue with cross product relation changes for CHEBI mostly from "has_output" to "has_primary_output", but I guess it's expected.

[2019-02-28 12:03] pgaudet commented on #999
We should definitely announce this !!! Will it go out in this upcoming release? Don't we need to give people some more time ?

@suzialeksander
@cmungall
@thomaspd

[2019-02-28 12:05] ukemi commented on #999
Hi @alexsign, Yes the new relations are deliberate, we introduced them so that we could identify primary participants in metabolic reactions and distinguish them from intermediates and inputs that weren't necessarily being metabolized, like ADP and NAD. We will continue to review some relationships by hand this morning, but this is just part of regular ontology maintenance.

[2019-02-28 12:29] ukemi commented on #999
Note that there were three kinds of changes to relationships:

1. 'has participant' to 'has primary input or output' for general metabolism
2. 'has input' to 'has primary input' for catabolic processes
3. 'has output' to 'has primary output' for biosynthetic processes

[2019-02-28 12:42] alexsign commented on #999
Thanks @ukemi, I added changes to out database. I'm closing this ticket.

[2019-02-28 12:42] #999 closed

[2019-03-04 10:18] pgaudet commented on #982
@suzialeksander the one in the Archived is the file from 2003. We can delete it - up to SGD. I would say it's old enough to delete.

[2019-03-04 10:20] pgaudet commented on #847
@kltm
- What does n/a mean ?
- Is there any way to fix the cases correctly (rna -> RNA; goa -> GOA, etc?)

Thanks, Pascale

[2019-03-04 10:21] pgaudet commented on #310
I think this is done.

[2019-03-04 10:21] #310 closed

[2019-03-04 10:30] pgaudet commented on #982
@suzialeksander Which entries as unneeded ?

[2019-03-04 21:28] suzialeksander commented on #982
@pgaudet  This is up for discussion as to what users need, but for example, Dog has a whopping 0 complex annotations.  Cow has 8 complex, is that useful either?

[2019-03-04 23:15] kltm commented on #847
@pgaudet
* usually a variation of "none available" or "not applicable"
* everything there is derived from the YAML metadata; fixes would be editing the metadata (or creating new metadata)

[2019-03-05 10:16] pgaudet commented on #847
@kltm

I'll get the information from the groups where it's missing. I suppose there can be more than one value ?

Thanks, Pascale

[2019-03-05 15:16] kltm commented on #41
I think the time for this, at least in this form, has passed.

[2019-03-05 15:16] #41 closed

[2019-03-05 16:30] pgaudet commented on #471
@suzialeksander Can you add this in the FAQs ?

[2019-03-06 01:02] kltm commented on #847
Labels are typically single-valued fields.

[2019-03-06 09:43] pgaudet commented on #847
But in this case a single GAF may contain different types or entities, or is this not allowed ?

[2019-03-06 14:18] cmungall opened #1013 "Add information to CAFA group entry to better explain provenance of CAFA annotations"
At a meeting with @balhoff some of the participants are using GO and are confused by the fact they are getting assigned_by=CAFA annotations for human etc. They googled CAFA and learn it is about prediction and are even more confused since this should presumably be non-experimental evidence, and all the CAFA annotations we have are IDA and other experimental types.

I believe the story is that thes

[2019-03-06 16:21] pgaudet commented on #756
Managers' call discussion - @thomaspd This will give us uniform ID space regardless of whether we are referring to genes or proteins.

[2019-03-06 16:23] lpalbou commented on #750
@kltm any update on Tender ?

[2019-03-06 16:31] pgaudet commented on #756
**We need to define:**

- is this for all IDs ? (also with/from?)
- how do we handle non-human IDs?
- need to also align PAINT annotations
-

**We need to know the priority of this task** - @thomaspd at least not before the Cambridge meeting.

[2019-03-06 17:31] kltm commented on #750
No progress as I am buried on other fronts. Top of queue when head gets above water.

[2019-03-06 17:47] kltm commented on #847
@pgaudet Apologies, I'm not following--there is a single entry per GAF. The only multi-valued fields are `taxa` and `datasets`.

[2019-03-06 18:35] cmungall commented on #756
@ukemi - having uniform with GPI files with mappings certainly helps, and having more integrated ID mapping would also help. But we'd like to avoid making users (including downloaders of files) do this as it introduces fragility into pipelines. I don't have direct evidence but I believe this is one reason many prefer to download from NCBI (all gene IDs) or UniProtKB (all protein IDs).

[2019-03-06 18:46] vanaukenk commented on #756
Is the idea that we would ask UniProtKB to include dbxrefs to HGNC identifiers in the human gpi?

[2019-03-06 19:21] cmungall commented on #756
Actually they already do this, which is great.

The proposal would be to do the ID mapping as part of the GO-Central pipeline, so submitter preferred IDs in, GO Central preferred IDs out.

But I suggest discussing again on the managers call in 2 weeks what the pros/cons are (maybe you did this already), then proposing at GO meeting, and implementation plan after.

[2019-03-06 19:23] cmungall commented on #756
Or another approach is just to jump ahead with providing a variety of download options, so that it's easy for a user to choose a species and a preferred ID space and download that, avoiding any notion of "preferred"

[2019-03-06 21:57] vanaukenk commented on #756
Thanks @cmungall
I downloaded the goa_human.gpi file from current and didn't see the mappings to HGNC identifiers.
Is it somewhere else?

We can discuss again on the manager's call in two weeks.  Part of the issue here is what to provide in annotation files so that, for human entities, the corresponding HGNC gene shows up on the Function - GO Annotation section of Alliance gene pages.

[2019-03-06 22:01] cmungall commented on #756
in source:

[code]

can you make a new ticket for preserving the gpi in the output? thx!

[2019-03-06 22:13] vanaukenk opened #1014 "Preserve all information from source gpi files in production gpi"
From #756

I was looking for dbxrefs between UniProtKB accessions and HGNC gene symbols in the goa_human.gpi file on current and couldn't find them.

They are, however, available in the source gpi file.

Note that the gpi file on current also loses information in the annotation properties field, e.g. db_subset=Swiss-Prot

We will want to preserve information present in source gpi files in producti

[2019-03-06 22:14] vanaukenk commented on #756
#1014
with an action verb in the title :-)

[2019-03-07 09:57] pgaudet commented on #1014
Interesting! @thomaspd This was on your 'to-do' list from yesterday's PI call - looks like it's already done.

[2019-03-07 10:37] pgaudet commented on #1013
@ggeorghiou  Since you handle these annotations, I'd like to know how you'd like us to proceed.

Thanks, Pascale

[2019-03-07 15:37] pgaudet opened #1016 "Review dbxrefs and GO-refs"
https://github.com/geneontology/go-site/blob/master/metadata/db-xrefs.yaml
- what should be on the website?
- can we add information to describe how these are used in GO ?

https://github.com/geneontology/go-site/tree/master/metadata/gorefs
- which ones are still valid ?
- Can we create a page that we can link to from AmiGO? Right now it goes to GH.

@kltm - @vanaukenk and I would like to look at

[2019-03-07 22:16] suzialeksander commented on #847
@pgaudet  do you mean the DB Object Type? Yes, some of the GAFs contain different values in that column- e.g. the cow RNA GAF has primary_transcript/snRNA/rRNA/lnc_RNA/etc.; I think most of the  other GAFs are all genes (so these would be labelled "gene" not n/a) or all proteins, etc.

[2019-03-08 01:25] kltm opened #1018 "Change metadata to improve text on annotation downloads page"
Currently, a products download page is produced directly from the pipeline and left places like: http://snapshot.geneontology.org/products/pages/downloads.html
Some of the text is hard to read for intended audience.

Started by @pgaudet , see:
https://github.com/geneontology/go-site/pull/1012
https://github.com/geneontology/go-site/pull/1011

[2019-03-08 01:29] kltm commented on #1018
Assuming `submitter` should match shorthand in groups.yaml
I'm surprised that `entity_type` is uncontrolled. According to @dougli1sqrd none of these are currently used internally, so having them be labels would not be a problem. @cmungall would you know if these fields are used by others?

[2019-03-08 07:57] pgaudet commented on #847
OK, so we could have say 'protein/microRNA' - that would be OK ?
Is the separator a / ?

Thanks, Pascale

[2019-03-12 15:35] pgaudet opened #1020 "OWLTools check No report generated"
Hello,
In the GO reports, the OWLTools check are not generating reports anymore.

Can we get these back ?

Thanks

[2019-03-12 16:35] ValWood commented on #763
for example these, should just not get through...

![filter](https://user-images.githubusercontent.com/7359272/54218029-a8fe9680-44e4-11e9-8e86-414d2125b669.jpg)

@pgaudet  I won't report these because I presume there are a sytems in place to  alert PAINT curators to taxon violations?

[2019-03-13 00:42] kltm opened #1023 "Upstream gene_association.pseudocap.gz appears to contain "bad" characters/encoding"
On taking a new upstream for pseudocap (https://github.com/geneontology/go-site/pull/1019), GO pipelines started to fail on parsing the gene_association.pseudocap.gz file.
Examination seems to indicate that the file may not be encoded as expected for some readers/parsers.

The immediate expression in the pipeline is errors like:
[code]
After some trial and error, basic fixes may be:
[code]

If I h

[2019-03-13 00:46] kltm commented on #1023
Note that current upstream reads as ISO-8859, https://github.com/geneontology/pseudomonas-genome-database/commit/aa02bfb564d552991bf491d969bce59c6bda4c57 as ascii:
[code]

[2019-03-13 00:49] kltm commented on #1023
We have created a PR for a possible fix: https://github.com/brinkmanlab/pseudomonas-genome-database/pull/1
In the interim, we will revert the upstream pseudocap file to the SVN one we had a couple of days ago.

[2019-03-13 02:03] glwinsor commented on #1023
Thanks. Let me know if there's anything we can do on our end to help.

[2019-03-13 02:04] kltm commented on #1020
Sorry, missed this this morning--duped onto underway issue here https://github.com/geneontology/operations/issues/29

[2019-03-13 02:04] #1020 closed

[2019-03-13 02:06] kltm commented on #1023
@glwinsor
To have your new data move through the pipeline, I believe the fix would be to either accept our PR (and we switch back to the new data) and/or your end would prevent the rogue character data from getting into the GAF.

[2019-03-13 02:18] kltm commented on #1023
@glwinsor Thank you, I can see that my fork is merged.
We're going to try and work through the pipeline for a run looking at another issue, and then will change your source URL back to:
https://github.com/brinkmanlab/pseudomonas-genome-database/raw/master/pseudocap-annotation-files/gene_association.pseudocap.gz

[2019-03-13 22:58] kltm commented on #1023
`master` and `snapshot` passed pseudocap.

[2019-03-13 23:04] #1023 closed

[2019-03-14 00:08] dougli1sqrd commented on #884
To expand mildly from a discussion with Seth (@kltm): this work for this ticket will involve adding a tag of `silent` to any gorule we do not want to appear in the ontobio main reports (http://snapshot.geneontology.org/reports/aspgd.report.md which exists inside aspgd-report.html). Ontobio will add just add an additional field to each message containing tags from each rule message. So for example,

[2019-03-14 13:40] lpalbou commented on #850
@mugitty this is now corrected in https://github.com/geneontology/geneontology.github.io/pull/154.
Changes should be deployed in a minute.

[2019-03-14 13:40] #850 closed

[2019-03-15 21:11] suzialeksander opened #1029 "Bad route on current.go.org- logo does not display"
Logo on upper left of http://current.geneontology.org/products/pages/downloads.html is broken and does not display (this page is accessed from http://geneontology.org/docs/download-go-annotations/)

[2019-03-15 22:18] suzialeksander commented on #471
done!

[2019-03-15 22:18] #471 closed

[2019-03-18 20:01] suzialeksander commented on #1029
Adding to this, most of the links in the menu bar on current are 404- have been changed/deleted in the move.  Can we remove this bar or edit it to fit the new site? I'm not sure how to edit Current.

[2019-03-18 20:50] vanaukenk opened #1031 "Reactome2GO mapping file appears truncated on current and snapshot"
Hi,

A Reactome user reported on their helpdesk that the Reactome2GO mapping file available for download appears to be truncated:

http://current.geneontology.org/ontology/external2go/reactome2go

The source file in go-ontology seems okay:

https://raw.githubusercontent.com/geneontology/go-ontology/master/src/ontology/external2go/reactome2go

[2019-03-18 21:07] kltm commented on #1031
Internally generated. Does anybody know where the extraction code lives?

[2019-03-18 21:53] cmungall commented on #938
We have decided we will keep the YAML structure as-is

[2019-03-18 21:58] cmungall commented on #688
Note ticket was github-moved: https://github.com/geneontology/go-ontology/issues/16989

[2019-03-18 22:09] cmungall commented on #940
Not assigned to a project, so not a priority. Discuss at meeting how high a priority this is

[2019-03-18 22:31] kltm commented on #1031
From @cmungall This is in the ontology Makefile.

[2019-03-18 22:39] cmungall commented on #942
I will try and summarize. I changed the ticket title and I suggest we use "Shared Annotation Matrix" to avoid confusion with any other matrices.

 * We have a global all-species report produced with each release: http://release.geneontology.org/2018-12-01/reports/shared-annotation-check.html
 * There is as-yet no way to get a summary broken down by species. This has another ticket, https://github.

[2019-03-18 22:50] cmungall commented on #945
This was addressed in:
https://github.com/geneontology/go-site/pull/1027

see this line:

https://github.com/geneontology/go-site/commit/5b7f346dd8794a6850471d1231004bfd32a1e66f#diff-022948c3e27b415189bfbc8aa463b5c2R8

We are implementing this via the 'silent' tag.

[2019-03-18 22:50] #945 closed

[2019-03-18 22:55] kltm commented on #1029
Ugh, that's not supposed to be there anymore anyways.
https://github.com/geneontology/go-site/blob/master/scripts/downloads-page-template.html

[2019-03-18 22:59] cmungall commented on #941
Can you clarify what this is for?

I think this is done. I believe previously we were reporting on the merged product (e.g. paint + dictybase). We now have separate reports for each.

E.g.
http://current.geneontology.org/reports/gorule-report.html

[2019-03-18 22:59] #941 closed

[2019-03-18 23:08] cmungall commented on #939
I don't know what this is, but I don't believe there is anything that to be done here, gp2protein is being replaced by GPI

Without more specific details, I do not know what remains to be done here

?

I believe our position can be stated as:

 * We recommend MODs provide a link to the GO central downloads page for their community
 * We realize that some MODs may prefer to offer their own download

[2019-03-18 23:13] cmungall commented on #867
Closing as dupe: https://github.com/geneontology/shared-annotation-check/issues/2

[2019-03-18 23:13] #867 closed

[2019-03-18 23:14] #789 closed

[2019-03-19 08:22] pgaudet commented on #938
Can we at least document what information contributing groups should provide ?

[2019-03-19 08:29] pgaudet commented on #949
TO DO: check links at next release

[2019-03-19 08:32] pgaudet commented on #873
Do we want this information public ? I thought we had said no.

Do we anyway have links to /current? (I can't see them in your changes).

[2019-03-19 08:35] ValWood commented on #942
Use @mah11 revised text below mine.

[2019-03-19 08:37] pgaudet commented on #688
If it has been moved, should we close this ticket ?

[2019-03-19 21:13] dougli1sqrd commented on #799
For example, you can see in the report here: http://release.geneontology.org/2019-03-18/reports/gramene_oryza-report.html#gorule-0000027

`GR_protein Q84Q78 OJ1364E02.5 GO:0000015 GR_REF:8030 IEA InterPro:IPR000941 C Hypothetical protein OJ1364E02.5 LOC_Os03g15950|Os03g0266200 protein taxon:39947 20060831 GR`

Has `GR_protein` in column 1, which is not allowed since it's not in dbxrefs. The messag

[2019-03-19 21:45] dougli1sqrd commented on #790
I like this idea. I'll make a PR for the reference schema.

[2019-03-19 22:22] lpalbou commented on #873
PURL go.obo are now pointing to current and not snapshot anymore (e.g.
http://purl.obolibrary.org/obo/go.obo)

However, the snapshot URLs were indeed also added in http://geneontology.org/docs/download-ontology/ . I don't know where the requirement came from ?

[2019-03-19 23:03] dougli1sqrd commented on #790
https://github.com/geneontology/go-site/pull/1033

[2019-03-19 23:08] dougli1sqrd commented on #790
@pgaudet your new goref field is now available!

[2019-03-20 07:25] pgaudet commented on #790
thanks !

[2019-03-20 15:24] pgaudet commented on #799
I think the example makes sense - except for

Do we really want to do that ? Sounds quite wordy.

Thanks, Pascale

[2019-03-20 20:18] cmungall commented on #799
I agree, it is rather wordy. I suggest just reporting the ID and a link to
the db-xrefs file

OR just reporting the complete list once

Otherwise great, thx!

On Wed, Mar 20, 2019 at 8:24 AM pgaudet <notifications@github.com> wrote:

[2019-03-20 20:47] balhoff commented on #1031
Expected to be fixed in next snapshot by this PR merged today: https://github.com/geneontology/go-ontology/pull/16856

[2019-03-21 15:16] pgaudet commented on #997
As far I know,
- [ ] genedb.yaml:   source: http://viewvc.geneontology.org/viewvc/GO-SVN/trunk/gene-associations/submission/gene_association.GeneDB_Pfalciparum.gz
- [ ] jcvi.yaml:   source: http://viewvc.geneontology.org/viewvc/GO-SVN/trunk/gene-associations/submission/gene_association.jcvi.gz
- [ ] pamgo.yaml:   source: http://viewvc.geneontology.org/viewvc/GO-SVN/trunk/gene-associations/submissi

[2019-03-21 15:18] pgaudet commented on #997
@vanaukenk Already contacted TAIR and Reactome
Reactome's next release (March 2019) should not be useing SVN anymore.

[2019-03-21 15:20] pgaudet commented on #997
Pseudocap0s source file information has been updated
https://github.com/geneontology/go-site/blob/master/metadata/datasets/pseudocap.yaml

[2019-03-21 15:40] alexsign commented on #997
@pgaudet  We don't use SVN to get files. Most of the data is downloaded from following FTP.
ftp://ftp.geneontology.org/pub/go/gene-associations/submission/
I do still submit some files to SVN during our public release, but I was waiting for green light to stop it. The GOA yaml file should contain everything needed for consortium to download files posted on the EBI FTP site.

[2019-03-21 15:42] cmungall commented on #997
Hi @alexsign - you should only be using URLs sanctioned in the datasets yamls

[2019-03-21 15:43] cmungall commented on #997
@pgaudet if UniProt-GOA is the source for these then the entries in the yaml can be retired. Note that there will be no explicit download for these

[2019-03-21 15:46] pgaudet commented on #997
@cmungall I think this is what we need to do, since the groups do not maintain the data anymore. OK ?

@alexsign I assume you document somewhere all the sources that you load ? (apologies if I have asked before).

[2019-03-21 16:01] alexsign commented on #997
@pgaudet I posted all our sources in XLS file before, but without information where I downloading files from. Data coming from various locations, but iI can collect this info if needed.

@cmungall I still in a process of reviewing some part of my inheritance from Tony. I agree completely to use info from the datasets yaml files is the best way get consistence. I don't know why not everything is mi

[2019-03-21 17:06] pgaudet commented on #997
Right ! Sorry

No

[2019-03-22 14:04] vanaukenk commented on #997
Contacted @marekskrzypek about AspGD and CGD files.

[2019-03-22 19:32] pgaudet opened #2109 "Review NOT annotations with an extension"
Hello,

There is a new rule that would forbid NOT annotations with extensions.
Most annotations are from MGI @ukemi

https://docs.google.com/spreadsheets/d/172dNbAfDDGa11-inan_yQQPt6hONDPtwtigFxmPHra4/edit#gid=0

Can you have a look and see if that new rule is OK for you ?

Thanks, Pascale

[2019-03-25 17:49] #715 closed

[2019-03-25 17:49] pgaudet commented on #759
Wiki pages checked and deleted.

[2019-03-25 17:49] #759 closed

[2019-03-27 14:37] vanaukenk commented on #997
AspGD and CGD file source locations are now updated in the respective yaml files.

[2019-03-27 15:11] #873 closed

[2019-03-27 15:16] pgaudet opened #1046 "Update documentation on ontology downloads"
Remove snapshot from

Snapshot Editions

As of April 2019, the standard PURLs for GO will resolve to the monthly (release) version. If you have need to access the snapshot (daily) version, use /snapshot/ in the URL. For example:

    http://purl.obolibrary.org/obo/go/snapshot/go.obo
    http://purl.obolibrary.org/obo/go/snapshot/go.owl
    http://purl.obolibrary.org/obo/go/snapshot/extensions/go-p

[2019-03-28 22:47] cmungall commented on #741
This is a rule. We can add a field that distinguishes constraint rules from generative rules.

[2019-03-28 22:47] #741 closed

[2019-03-29 12:07] lpalbou commented on #1029
@kltm this issue may also be affecting the presence of our logo in the OBO page: http://www.obofoundry.org/ontology/go.html

[2019-03-29 15:45] cmungall opened #1049 "example_id should be local IDs"
Following from
#1048

the field name `example_id` was a terrible choice, historically this has been the local_id/fragment. See http://wiki.geneontology.org/index.php/Identifiers for terminology

it looks like global id is used in many cases, which means the substitution into the example URL will not work - do we have a check that ensures all of these resolve?

[2019-03-29 15:51] cmungall commented on #1049
__UPDATE__ looks like I have this wrong

It looks like the majority are prefixed IDs, and there is an implicit protocol to de-prefix prior to substitution. See for example:

https://github.com/geneontology/go-site/blob/353f3a0cc2e5d99413b4fc3bbca017da156b2c2b/metadata/db-xrefs.yaml#L217-L219

If this is the case then we should actually encode in the schema that example_id must be a prefixed ID

Fo

[2019-03-29 15:56] cmungall commented on #1049
Action: update schema.yaml to enforce prefixed ID, add documentation to schema.yaml (my preference is to switch to json-schema here)

[2019-04-02 08:27] lpalbou opened #1050 "Plan for the geneontology FTP"
@kltm  comment:

either need to be placed into a new how (e.g. a GitHub repository) or
made as a product of the pipeline. If we do not have a ticket for one of
these yet, we should probably make one if this is a product we are
intending on keeping.

I use this ftp to retrieve old versions of the GO ontology and some files are to my knowledge only accessible here (e.g. recent inquiry about taxon_un

[2019-04-02 09:50] pgaudet commented on #1050
These two files were requested, so we should make them as part of the pipeline:

   http://geneontology.org/quality_control/annotation_checks/taxon_checks/taxon_union_terms.obo
   and
   http://geneontology.org/quality_control/annotation_checks/taxon_checks/taxon_go_triggers.obo

[2019-04-02 09:54] pgaudet opened #1051 "Plan for the geneontology FTP - part 2"
Hello,

Is it possible to generate a list of the files from the FTP that are NOT generated in the new pipeline, so we can go over and decide which ones should be kept ?

Thanks, Pascale

[2019-04-02 13:56] lpalbou commented on #1050
This is also possibly linked to https://github.com/geneontology/go-site/issues/483 if we use S3 for the long-term storage of those files

[2019-04-02 14:22] kltm commented on #1050
#483 is the current roadmap for how to deal with older files like this.

[2019-04-04 20:36] kltm commented on #1031
While we do not have a release out, this appears to be fixed on snapshot; moving to "Clearing"

[2019-04-04 22:15] dougli1sqrd commented on #775
I think this is completed as of https://github.com/geneontology/go-site/pull/1035

[2019-04-04 22:19] dougli1sqrd commented on #799
This is completed and in ontobio from https://github.com/biolink/ontobio/pull/311 and version 1.10.0. This just has to be updated in the go-site makefile but I'll wait for snapshot to clear.

[2019-04-04 23:01] dougli1sqrd commented on #843
This is done already for some time actually.

[2019-04-04 23:01] #843 closed

[2019-04-05 11:26] #775 closed

[2019-04-09 09:16] kltm commented on #1029
It's the old drupal static file site (http://geneontology.org/sites/default/files/go-logo-icon.mini__0.png). Templates, etc. will need to be updated with a new path.

[2019-04-09 10:52] pgaudet commented on #1029
This sounds high priority - who can do this ?

[2019-04-10 11:14] cmungall commented on #969
Any update on this?

[2019-04-10 11:18] cmungall commented on #969
Not only are our annotations split:

http://amigo.geneontology.org/amigo/gene_product/UniProtKB:P0A6T5 - 9 annotations
http://amigo.geneontology.org/amigo/gene_product/EcoGene:EG11375 - 5 annotations

we are missing some; compare:

30 annotations:
https://www.ebi.ac.uk/QuickGO/annotations?geneProductId=P0A6T5

@dustine32 and @kltm let's find a few minutes this week to sort this out

[2019-04-10 14:19] vanaukenk commented on #775
@pgaudet - at the Montreal meeting, we discussed that curators did not want ND removed if 'protein binding' annotations were the only other MF annotations that existed for a given GP.
See section on 'ND annotations':
https://docs.google.com/document/d/16KMJRn-Vqf4yRsXAR1KYlwYvPob1tRTQbq2cEs6IJNY/edit#
How does this rule fit in with that?  Thx.

[2019-04-10 17:12] pgaudet commented on #775
This rule is a 'report', so people can look at the annotations that fail it, but the annotations should all remain in the files and the data we show in AmiGO.

[2019-04-10 19:51] dustine32 commented on #969
Sure @cmungall @kltm I can try to zoom/skype with you on this. Recall I'm still currently on PST so hopefully not at 2AM my time. Just let me know a good time.

[2019-04-10 20:07] dustine32 commented on #969
I still feel like an easy solution would be to write an exception in the [PAINT IBA generation script](https://github.com/pantherdb/fullgo_paint_update/blob/7872aa5954675c6839906930867820cd11139d78/scripts/createGAF.pl#L214-L215) to output the UniProt rather than MOD identifier if `EcoGene` is in the Panther long ID? I think it'll be fine (i.e. they'll map back to Panther long IDs) when PAINT cycl

[2019-04-11 09:53] cmungall commented on #969
I think we may need @jimhu-tamu as well so maybe best when we're all in the rough same time zone again..

[2019-04-11 15:16] pgaudet opened #1056 "New rules for annotating Protein Complexes"
From the 2019-04 GOC meeting in Cambridge, these are new proposed rules for annotation to Protein Complex binding:
(NOTE: CP : Complex portal)

1. If we know GP1 binds the Cpx1 (e.g. complexes is identified as a whole or binding is via a composite binding site):
* GP1 | protein-containing complex binding | IPI | with/from "CP AC for Cpx1" has_direct_input "CP AC of Cpx1"
2. If we know GP1 binds GP

[2019-04-12 08:35] cmungall commented on #969
@dustine32 you should go ahead and use UniProtKB as the primary IDs for E coli

Can you also coordinate with @jimhu-tamu on helping him fix the E coli exports?

It looks like the E coli wiki pages are complete:

http://ecoliwiki.net/colipedia/index.php/folE:Gene_Product(s)

E.g. this has the annotation to tetrahydrofolate biosynthetic process from HAMAP and InterPro

However, this is not in the su

[2019-04-12 10:07] ValWood commented on #866
This is what we agreed in Montreal.

A view like this:
https://github.com/geneontology/go-site/tree/master/metadata/rules

but with human readable rule names, and the ability to quickly scan the list  to see if we have any violations (and how many). By  species. I only want to see PomBase. I think others would find this useful.

OK I guess this does it!
http://release.geneontology.org/2019-01-01/r

[2019-04-12 10:08] ValWood commented on #866
Found 13050 annotations in 13061 lines.
sounds low?

[2019-04-12 10:09] ValWood commented on #866
I don't fully understand the contents of this file though....

[2019-04-12 10:10] ValWood commented on #866
@kltm I don't have permissions to assign

[2019-04-12 10:12] kltm commented on #866
@ValWood You should now have permissions, but we do not yet know where this work is relative to other items and who would perform it.

[2019-04-12 10:44] ValWood commented on #866
Assigned to you so it doesn't fall through the cracks. This was an action from Montreal I'm sure. I guess you will assign to the right person...

[2019-04-12 14:02] jimhu-tamu commented on #969
I’m lurking on this conversation. Just way behind in my todos.

[2019-04-12 16:49] huaiyumi commented on #969
@jimhu-tamu I am OK to switch as long as you are OK with it. I thought the reason we use EcoGene ID for GAF was upon your request, and also to be consistent with the rest of the 12 MODs genomes. Since we already switch to UniProt for the human GAF, it is really not a big deal for us.

[2019-04-13 16:58] cmungall commented on #969
alternatively ecoli could export gene IDs to their GAF

Either way, we are going to need to fix the issue that the ecoli GAF is missing annotations (regardless of IDs).

@jimhu-tamu - we are going to need the help of someone technical on your side of things. If you are snowed under is there a way we can help?

[2019-04-16 14:29] bmeldal commented on #1056
I found this page:
http://wiki.geneontology.org/index.php/Annotation_guidelines_for_annotating_complexes_as_annotation_objects

Should we update this?

[2019-04-16 14:31] pgaudet commented on #1056
Sure, please do ! It dates form 2015.

[2019-04-17 00:30] kltm opened #1057 "Turn on hard checks to align users.yaml and groups.yaml"
Currently, while there is a soft report, nothing prevents the groups information in users.yaml and groups.yaml from falling out of sync, leading to situations like https://github.com/geneontology/noctua/issues/610 .

To prevent this from happening again, we want to turn back on the hard checks in scripts/sanity-check-users-and-groups.py

[2019-04-17 00:42] kltm commented on #1057
No change needed in .travis.yml

[2019-04-17 00:50] #1057 closed

[2019-04-23 01:57] kltm opened #1061 "IBAs from PAINT not being applied to GOA files?"
It seems that from the http://release.geneontology.org/2019-04-17/ release, PAINT files do not seem to be applied to the GOA (goa\_\*) resources as they are to the others--neither header no data. This is appears to be true for all goa\_ and non-goa\_ files sampled so far, comparing to http://release.geneontology.org/2019-03-18/ .

As part of this exploration, I also noticed that when unpacking goa

[2019-04-23 02:03] kltm commented on #1061
Quickest way forward is probably feedback from @dougli1sqrd

So far, no obvious files changes in Makefile and mergeer that I can see in the relevant time period, but may be missing something.

[2019-04-23 02:05] kltm commented on #1061
If this was not intended, we'll need to make a release note.

[2019-04-23 02:07] kltm opened #1062 "Add sanity checks that put all major annotation outputs within a range"
We are too frequently bitten by issues like https://github.com/geneontology/go-site/issues/1061 , where there is an unseen drop in annotations that turns out to presage an error somewhere in the pipeline.

We need a sanity check, either as separate metadata or in the main metadata, that puts a range on expected annotation volume and either crashes the pipeline or emails.

[2019-04-23 02:12] kltm commented on #1061
@pgaudet Would you know of any reason over the past couple of months that valid PAINT annotations would not be applied to GOA (goa_*) output?

[2019-04-23 02:23] kltm commented on #1061
Looking at possible changes in ontobio
https://github.com/biolink/ontobio/commit/a4dfba285e6ea3b4ed95a9bf63ee7f54075d1210#diff-b474cebaed03ed9a6299feedd8d0985a

If cannot get traction on this soon, will test to an earlier ontobio version.

[2019-04-23 08:51] alexsign opened #1063 "Improve parsing for DB:Reference (column 6, gorule-0000055) -- too many publications"
The GAF file gene_association.rgd.gz  downloaded from
ftp://ftp.geneontology.org/pub/go/gene-associations/
was rejected by GOA pipeline for about a week due to errors in the DB:Reference (column 6)

Here is the example:
MGI:MGI:1329760|MGI:MGI:1337547|MGI:MGI:3709684|MGI:MGI:56958|MGI:MGI:61034|MGI:MGI:73463|PMID:10215924|PMID:2061715|PMID:3783318|PMID:7668363|PMID:7683855|PMID:9918704|RGD:1624291

[2019-04-23 09:37] bmeldal commented on #1056
**New annotation rules and annotation reviews required:**

More details in mtg [minutes](https://docs.google.com/document/d/1QiqfZ5eAwmljqt5Fh0Ooi1Pd-HKgMSGsYC_wx6-UEPY/edit#):

**General notes:**

- CP AC = Complex Portal accession number.
- CP ACs can be requested via YELLOW BUTTON on [CP homepage](https://www.ebi.ac.uk/complexportal) (manually change resource in drop-down menu from IntAct to Co

[2019-04-23 20:07] kltm commented on #1063
@alexsign
Eyeballing this, I'm not immediately struck by anything that would be erring. Is it the rather expansive list itself? Would you have a reference for the GO Rule it is violating?

@dougli1sqrd @pgaudet Any thoughts on this.

Either way, if there is an RGD issue, it may be worthwhile to bring it up with the upstream as well.

[2019-04-23 20:12] kltm commented on #1063
@alexsign For reference, the RGD upstream we use is https://github.com/rat-genome-database/rgd-annotation-files/raw/master/gene_association.rgd.gz (although the should probably still be synchronizing), as referenced here: https://github.com/geneontology/go-site/blob/master/metadata/datasets/rgd.yaml . The FTP server will be discontinued in the future.
For filtered/processed GAFs, more information

[2019-04-23 20:40] cmungall commented on #1063
The reference column should only denote a single publication; multiple IDs
indicate alternate IDs. I assume Alex is checking to see if there is >1 ID
in the same ID space, which is a sane check we should implement at the
parser level

On Tue, Apr 23, 2019 at 1:12 PM kltm <notifications@github.com> wrote:

[2019-04-23 21:28] kltm commented on #1063
@pgaudet @dougli1sqrd Could we start a new rule for this?

[2019-04-23 21:55] cmungall commented on #1063
More generally, we agreed that we would all work on getting all protein2go
rules specified as gorules, do we have a ticket for this?

On Tue, Apr 23, 2019 at 2:28 PM kltm <notifications@github.com> wrote:

[2019-04-23 22:43] kltm commented on #1062
Note that we already have:
https://github.com/geneontology/go-site/blob/master/scripts/sanity-check-ann-report.py
This failed to find the issue as it is looking for something rather more severe, at the ~50% mark, rather than the ~8% mark that this would have shown up at.
The gross number is at least partially due to the relatively large effects on smaller files. However, this ticket is wanting to

[2019-04-23 22:45] kltm commented on #1062
Would start with something like:

[code]

[2019-04-24 09:05] alexsign commented on #1063
@kltm If you talking about the new GORULE, I'm not sure if it is really needed. One PMID + alternative ID per line for column 6, as Chris posted above,  is clearly stated on GAF specs
 http://geneontology.org/docs/go-annotation-file-gaf-format-2.1/

[2019-04-24 16:29] pgaudet commented on #1063
These are all in the different newly created (but not yet implemented) rules - although this specific one is in gorule0000001 "GAF lines are parsed according to GAF 2.1 specifications" but the specifics of what is checked are not listed. (Seth said it would be too much to describe everything the parser does).

Should this be a separate rule?

Thanks, Pascale

[2019-04-24 16:34] pgaudet commented on #1061
I don't know. I hadn't noticed.

[2019-04-24 18:48] kltm commented on #1063
It's fine to have it as 0000001. I've hijacked this ticket to work on the problem at our end.
@pgaudet Somebody should probably contact RGD as we will start dropping these lines soon and they may want to proactively fix them.

[2019-04-25 09:54] pgaudet commented on #1063
@slaulederkind

[2019-04-25 09:54] pgaudet commented on #1063
@kltm Are these in the error reports ?

[2019-04-25 13:08] ValWood opened #1064 "Remove links to amigo1/ finding AmiGO from the home page"
@Antonialock  has this link in a presentation!
http://amigo1.geneontology.org/cgi-bin/amigo/slimmer

It is linked to from this page!
http://amigo.geneontology.org/amigo/software_list

This  presumably and anything related to amigo1 should NOT be live?

the bottom of the slimmer page reports:
GO database release Tue Jun 3 16:28:44 2014 !

Note also that it is really  quite difficult to find the a l

[2019-04-25 13:22] Antonialock commented on #1064
To clarify:

- finding the tools from http://amigo.geneontology.org/amigo/ is easy (tools menu)
- finding tools from geneontology.org is impossible. The "tools and download" section linked to from the middle of the front page looks very confusing ands scary (at least to me)- maybe add a section for software tools and link to the amigo page?  Also perhaps add a menu item on the genontology home pag

[2019-04-25 14:15] pgaudet commented on #997
@kltm CGD and AspGD are producing their own files. These should NOT be loaded via the GOA (uniprot all? ) data.

Let me know if this should be a separate ticket.

Thanks, Pascale

[2019-04-25 21:33] kltm commented on #1063
Likely not if it's not getting dropped.

[2019-04-25 21:34] kltm commented on #1064
Also see https://github.com/geneontology/amigo/issues/312

[2019-04-25 21:37] kltm commented on #997
@pgaudet CGD and AspGD are already their own resources with their own upstreams; I'm not sure how you are tying them to goa. If there is an issue, make a ticket.

[2019-04-26 09:19] pgaudet opened #1065 "gorule0000001: Report cases where > 1 Reference exists"
From #1063

The GAF parsing rules state that a single reference should exist per annotation (DB:Reference; GAF column 6). When this is not the case, it is not reported, so it's probably not being detected.

We need to implement a check and report it in error reports.

@dougli1sqrd

Thanks, Pascale

[2019-04-26 11:03] pgaudet opened #1066 "Filter out CGD and AspDB from goa_uniprot_all.gaf"
Hello,

We are loading CGD and AspDB twice: once from their own sources, and once from UniProt-all. We need to filter them out from UniProt-all.

For example: http://amigo.geneontology.org/amigo/gene_product/CGD:CAL0000173998
and
http://amigo.geneontology.org/amigo/gene_product/UniProtKB:Q5ABU7

Thanks, Pascale

[2019-04-26 11:04] pgaudet commented on #1066
(this task is coming from #997)

[2019-04-26 22:00] kltm commented on #1066
Source is goa_uniprot_all-src.gaf.gz

[2019-04-26 22:01] kltm commented on #1066
Will need to add a GO Rule accordingly.

[2019-04-26 22:20] kltm commented on #1066
Let's take an example line coming in:
`UniProtKB       Q5ABU7  MDR1            GO:0005887      PMID:20041202   IDA             C       Multidrug resistance protein 1  MDR1|BEN|BMR1|CAALFM_C603170CA|CaO19.13047|CaO19.5604   protein taxon:237561    20140625        CGD             `
Okay:
[code]
These strains should be added to cgd.yaml
Similarly:
[code]
These strains should be added to aspgd.yaml

[2019-04-29 08:32] pgaudet commented on #1066
@marekskrzypek
Can you export the above-mentioned taxa ?

[2019-04-29 09:50] pgaudet opened #1068 "Is gorule-0000008 implemented as a filter or a report ?"
Hi @dougli1sqrd

According to the error reports on snapshot, PAINT has at least 1000 errors for gorule-0000008 (http://snapshot.geneontology.org/reports/paint_other-report.html#gorule-0000008); however I find no annotations in AmiGO to GO:0005622 intracellular

For example http://amigo.geneontology.org/amigo/gene_product/UniProtKB:F6V2J7
has no annotation to  GO:0005622 intracellular in AmiGO, but

[2019-04-29 10:01] pgaudet commented on #1061
@kltm Any idea what's going on ? Will this be resolved for the upcoming release ?

Thanks, Pascale

[2019-04-29 10:04] pgaudet commented on #1061
We have *no* IBA annotations for human - isn't this a showstopper ? I would expect that changes our annotation corpus quite a bit (and any analysis done with the GO data).

[2019-04-29 20:35] kltm commented on #1061
@pgaudet It is indeed a "showstopper", which is why it has been labeled as "showstopper". Release will be suspended until this has been fixed.

[2019-04-29 21:20] dougli1sqrd commented on #1063
I confirmed that in ontobio we are just not checking for more than reference. And looking through the rest of the go rules, I agree, it seems like gorule 1 is the best option. We can fix this in ontobio.

[2019-04-29 21:30] dougli1sqrd commented on #1068
rule 8 looks like it's implemented as a report.

[2019-04-29 22:32] nlharris opened #1069 "Tiny typos on http://geneontology.org/docs/introduction-to-go-resource/"
While reading http://geneontology.org/docs/introduction-to-go-resource/, I noticed a few tiny issues (mostly punctuation) that I would be happy to fix via PRs, but I can't find the website text (maybe it's not in this repo?).

researchers studying the genome of three model organisms: Drosophila melanogaster (fruit fly), Mus musculus (mouse), and Saccharomyces cerevisiae (brewer’s or baker’s yeast)

[2019-04-29 23:34] dougli1sqrd opened #1070 "GORULE 43 and GORULE 32 are the same"
GORULE:43 indicates mapping of evidence code (ECO) and references that are either allowed or disallowed.
GORULE:32, while not filled out very much, if I recall was created after the LA hackathon 2018 with the intent being the same.

One of these should be merged into the other.

[2019-04-30 06:54] pgaudet commented on #1068
It's still odd that QuickGO has  123 annotations to intracellular and there are none in AmiGO.
I'll try to investigate more.

Thanks, Pascale

[2019-04-30 20:06] dougli1sqrd commented on #1061
The release build log shows that perhaps goa_chicken has properly merged paint_goa_chicken. Has anyone yet verified goa_chicken?

[2019-04-30 20:08] dougli1sqrd commented on #1061
It looks like goa_chicken worked for some reason, and not the other goa datasets:
[code]

[2019-05-01 07:49] hattrill opened #1071 "Missing gp2protein.fb.gz"
The FlyBase  gp2protein file seems to be missing from the svn - the ftp path:
ftp://ftp.flybase.net/releases/current/precomputed_files/go/gp2protein.fb.gz
as specified in our data yaml file seems ok and our gaf  has certainly been updated. We did have an issue with our gp2protein not reaching our ftpsite few a bit, but that's been fixed for a few weeks now.

Could you have a look and see what's go

[2019-05-01 07:49] hattrill commented on #1071
FB yaml:
https://github.com/geneontology/go-site/blob/master/metadata/datasets/fb.yaml

[2019-05-01 21:06] dougli1sqrd commented on #1031
This appears to still be truncated.

[2019-05-01 21:10] #1007 closed

[2019-05-01 21:11] #993 closed

[2019-05-01 21:13] #491 closed

[2019-05-01 21:19] #955 closed

[2019-05-01 21:22] dougli1sqrd commented on #875
Currently no reports of gorule 6 violations, indicating that it's cleared.

[2019-05-01 21:23] #927 closed

[2019-05-01 21:25] dougli1sqrd commented on #792
There are no violations currently, reopen if issues come up.

[2019-05-01 21:25] #792 closed

[2019-05-01 22:13] kltm commented on #1031
From @balhoff :
The truncated output comes from a small number of lowercase reactome xrefs in go-edit.obo

[2019-05-01 22:13] kltm commented on #1031
Noting that @goodb 's PR was changing the case up to "Reactome"

[2019-05-01 22:35] kltm commented on #1031
Current theory is that is should be correct in `snapshot` tomorrow.

[2019-05-02 00:08] kltm commented on #1071
@hattrill Apologies, I'm going to have to recreate what the intention and reality is here.

As the SVN is being deprecated, we're trying to make sure that the files we expect to be there from the SVN server and now processed through the main pipeline. I'm not sure, however, what the expectations are for gp2protein files are at this point. That said, I believe the consensus was that they were dropp

[2019-05-02 07:06] hattrill commented on #1071
I knew that the svn was being killed off, but I thought it was a bit weird that our GAF had been updated on svn but the gp2protein hadn't.

So, there is no official home for gp2protein at the moment or indeed in the future?

[2019-05-02 07:34] hattrill commented on #1071
(I've been bad and updated the svn with our gp2protein file...sorry...I want to check something with a GOA error report before making any more deadend tickets.)

[2019-05-02 15:39] pgaudet commented on #875
@dougli1sqrd I am not sure what you mean.

1. gorule-0000006 is not listed with the other ontobio rules: http://snapshot.geneontology.org/reports/gorule-report.html
will be there at the next snapshot release? (otherwise maybe you closed this too soon?)

2. There are annotations that fail this rule:
In AmiGO, there are 57  MF and 29 CC.

Can you please explain what you did on this ticket?

Thanks,

[2019-05-02 15:45] pgaudet commented on #491
Is this already implemented in http://current.geneontology.org/products/pages/downloads.html ?

I'd like to have a look before we can say it's closed, to make sure what was requested was correctly implemented.

Thanks, Pascale

[2019-05-02 15:53] cmungall commented on #866
In an email @ValWood asked for short titles.

Is the action here to

 1. reduce the length of some existing rule names
 2. curate an additional 'short name' field that can be used in summary section of reports?

Here is a random sample:

[code]

Some like GORULE:0000032 I think are *too* short, it's not clear what this one

Some are overly wrong and are recapitulating information that should be in

[2019-05-02 16:08] ValWood commented on #866
Yes! They are difficult to interpret or unnecessarily verbose.

[2019-05-02 20:19] balhoff opened #1072 "Make use of new standalone ontology products in pipeline"
The "pre-merged, standalone ontologies" ticket is done now in go-ontology: https://github.com/geneontology/go-ontology/issues/16876

I'm not sure what needs to change here, but this is just a request to point directly to the newly built ontology files for go-plus or go-gaf for use in the later pipeline steps (instead of referencing them via PURL). These now have all imports merged in, so no use of

[2019-05-02 21:35] kltm commented on #1071
@hattrill My (possibly flawed) understanding is that there is no current home for gp2protein (subject to change) and that the successor was intended to be GPI. If these are serious blockers for you, we should reopen this discussion.

[2019-05-03 06:50] hattrill commented on #1071
No blocker - I am going to have a dig and then a chat with GOA - and if the gp2protein is not needed, I shall just kill it.

[2019-05-03 06:50] #1071 closed

[2019-05-03 22:36] kltm commented on #1031
This now appears to be correct on `snapshot`: http://snapshot.geneontology.org/ontology/external2go/reactome2go. This should carry to the `release`, which we may trigger over the weekend.

[2019-05-03 22:36] #1031 closed

[2019-05-06 20:31] kltm commented on #1066
The greps in https://github.com/geneontology/go-site/issues/1066#issuecomment-487218802 now return no results.

[2019-05-06 20:31] #1066 closed

[2019-05-06 20:41] dougli1sqrd commented on #875
Oh I just discovered what happened. Sorry, you're right. I have to do one more thing to link up the rule into the ontobio system.

[2019-05-06 20:48] pgaudet commented on #875
ok, thanks for checking.

Please don't close tickets until we see that the implementation is OK.

Thanks, Pascale

[2019-05-06 21:04] dougli1sqrd commented on #1065
Is this a duplicate of #1063 ?

[2019-05-06 21:08] dougli1sqrd commented on #1061
In snapshot:
`curl -L http://snapshot.geneontology.org/annotations/goa_human.gaf.gz | gzip -dcf | grep PANTHER | head` yields:
[code]

So it looks like PAINT is properly being applied at this point. Reopen if there is still an issue.

[2019-05-07 07:21] pgaudet commented on #1065
Possibly.

[2019-05-07 07:21] #1065 closed

[2019-05-07 20:49] dougli1sqrd commented on #1072
https://github.com/geneontology/go-site/pull/1076
This is clearing now, let's wait for the next run and we can close it tomorrow.

[2019-05-08 04:52] pgaudet opened #1077 "Pipeline should not generate the 'obsolete' slims"
Hello,

I thought we had stored a version of the 'obsolete' slims somewhere
We should not generate them anymore. For example

http://current.geneontology.org/ontology/subsets/index.html
termgenie_unvetted -> has status = obsolete. It should not be part of the exports/products.

Thanks, Pascale

[2019-05-08 05:36] jimhu-tamu opened #1078 "Update metadata for TAMU projects"
A variety of files need to be updated and maintained for projects associated with the TAMU groups (@jimhu-tamu and @dsiegele). Following an email discussion with @vanaukenk and @kltm about whether we could do this directly via branching and pull requests is was suggested that I look at related documentation on

http://wiki.geneontology.org/index.php/Installing_and_Using_git
http://wiki.geneontolog

[2019-05-08 05:46] jimhu-tamu commented on #1078
As I suspected, I can branch on my local machine, but cannot commit a new branch to go-site
[code]

[2019-05-08 06:06] kltm commented on #1078
For the time being, you can also fork and then create a PR back to us from your fork.

[2019-05-08 06:48] jimhu-tamu commented on #1078
Created a pull request to test working from a fork. Doing it via the forked copy long-term is OK with me, assuming it works.

[2019-05-08 18:55] dougli1sqrd commented on #799
http://snapshot.geneontology.org/reports/gramene_oryza-report.html#gorule-0000027
We see messages indicating the upgrade:

`curl -L http://snapshot.geneontology.org/annotations/gramene_oryza.gaf.gz | gzip -dcf | grep GR_PROTEIN | head`
Produces:
[code]

[2019-05-08 18:55] #799 closed

[2019-05-08 21:07] cmungall commented on #1063
I spoke to Eric, this is how we are progressing

 1. We will implement an additional syntactic check (thus subsumed under rule 1) such that warnings are emitted if we see >1 ID per IDSpace in one line. This can only happen if distinct publications are referenced. We cannot repair this one in a systematic way. I think this should be a warn rather than throwing out the annotation, because the annota

[2019-05-08 23:39] kltm commented on #1078
More documentation now here:

https://github.com/geneontology/go-site/blob/master/documentation/how-do-i-edit-metadata.md

via https://github.com/geneontology/go-site/commit/8fb6640a0f4c2d74db42a5df0ad3dbc79c591bb2

[2019-05-08 23:40] kltm commented on #1078
Is there any other metadata that you need changed?

[2019-05-08 23:59] dougli1sqrd opened #1082 "Refine gorule-0000033 to be a warning and the wording relaxed and ontobio impl"
We should refine https://github.com/geneontology/go-site/blob/master/metadata/rules/gorule-0000033.md so that fail_mode=soft, because there is too high a chance of removing valid annotations (e.g. if a group provides a MOD ID but no PMID)

gorule 33 currently is worded very aggressively. The wording implies that we can understand which IDs are synonyms.

We should change this to assume that differ

[2019-05-09 00:17] jimhu-tamu commented on #1078
Yes, I did a minimal change to test the workflow.

The biggest thing is probably to manage where we will provide our post-svn gpad files (as we retire making gaf) and the stuff we used to email directly to Tony.

[2019-05-09 00:21] kltm commented on #1078
@jimhu-tamu
For the data stuff, the metadata in question for you would be located at:
https://github.com/geneontology/go-site/blob/master/metadata/datasets/gonuts.yaml
https://github.com/geneontology/go-site/blob/master/metadata/datasets/ecocyc.yaml

We currently have GAF pickup (GPAD not quite there yet) and GPI pickup for loading into NEO (optional). If you need help setting up a place to drop f

[2019-05-09 00:25] jimhu-tamu commented on #1078
I was just going to provide a url to a directory on our server.

But does that mean we should still make gaf for now?

[2019-05-09 09:45] pgaudet commented on #1082
We need to fist get the MODs to remove their publication IDs from the files they provide.

We should focus the work on rules that are 'approved' (or incorrectly implemented).

Thanks, Pascale

[2019-05-09 18:39] dougli1sqrd commented on #1082
The implementation of this rule will remove the Group specific ID. This is only coming up because of https://github.com/geneontology/go-site/issues/1063#issuecomment-490651143.

[2019-05-09 20:20] pgaudet commented on #1082
I changed the status to approved.

We should notify contributing groups. Who can do that ?

[2019-05-09 20:51] kltm commented on #1078
@jimhu-tamu Yes, all we'd need is a URL for a GAF on a web-accessible server.
GAFs for the time being--the finalization of GPAD 2.0 is being worked out as we type, but GAF will still work as currency until there are more announcements.

[2019-05-09 21:34] dougli1sqrd commented on #1063
https://github.com/biolink/ontobio/pull/326 for number 1
and
https://github.com/biolink/ontobio/pull/327 for number 2 and gorule 33 implementation.

When these are merged and released, we should see this show up in the pipeline snapshot in a few days.

[2019-05-09 21:41] dougli1sqrd commented on #1082
https://github.com/geneontology/go-site/pull/1083

[2019-05-09 21:45] dougli1sqrd commented on #1082
@pgaudet I'm not sure how that would work, what are the normal channels to do this?

[2019-05-10 14:48] pgaudet commented on #1082
Annotation calls, go-consortium email list, and go-announcements repo.

[2019-05-14 15:34] pgaudet opened #1086 "Missing line in SGD output GAF file"
Hello,

On today's QC call we noticed that this line:

SGD	S000000892	TRP2		GO:0005950	PMID:3881257	IPI		C	Anthranilate synthase	YER090W|anthranilate synthase TRP2	gene	taxon:559292	20050126	SGD

is present in the **sgd-src-gaf** file but NOT in the **sgd_valid.gaf** file.

One observation is that this line fails gorule-0000018 but we don't know whether there is any causal link.

@dougli1sqrd Do y

[2019-05-14 17:02] kltm commented on #1086
To reiterate, for the given GAF line in the input sgd-src.gaf:
`SGD S000000892 TRP2 GO:0005950 PMID:3881257 IPI C Anthranilate synthase YER090W|anthranilate synthase TRP2 gene taxon:559292 20050126 SGD`
It is expected that this should have a corresponding output in sgd_valid.gaf. There is confusion in that GO rule 0000018 is interpreted as a warning, so should not have filtered the rule.

This ite

[2019-05-14 17:16] dougli1sqrd commented on #1086
I found the culprit. This is being filtered by mistake. The work will continue along this ticket: https://github.com/biolink/ontobio/issues/329. This is an easy fix, and will be corrected shortly.

[2019-05-14 17:16] #1086 closed

[2019-05-14 21:57] kltm opened #1091 "Allow tomato annotations through general channels (SGN not canonical resource)"
The outcome of this should be that tomato annotation do not get filtered out of goa_uniprot_all and are able to get picked up by AmiGO and downstreams (like PANTHER).

https://github.com/geneontology/pipeline/issues/92
https://github.com/geneontology/go-site/pull/1090

Tagging a mess o' people: @dustine32 @dougli1sqrd @pgaudet @cmungall

[2019-05-14 23:04] kltm commented on #1091
Okay, from a quick survey, it looks like there is not much in the way of overlap.
In goa:
[code]
In sgn:
[code]

[2019-05-14 23:26] kltm commented on #1091
Okay, to clarify, @thomaspd 's issue is the single namespace, rather than conflicting annotation.

[2019-05-14 23:28] dustine32 commented on #1091
From talking with @thomaspd :

The namespace issue has to get cleared up first as SGN uses SGN IDs and UniProt uses UniProtKB.

Either:
1. SGN retains authority source status with that `taxa:` property set in `sgn.yaml`. They bring in IEAs (performing UniProtKB-to-SGN mapping themselves) from `goa_uniprot_all`. IBAs would have to be mapped to SGN then too, which may be a nontrivial task since this

[2019-05-14 23:34] kltm commented on #1091
Given a single namespace restriction, the choices are:
1) SGN converts
2) remove SGN
3) filter goa (original state)

[2019-05-15 01:24] thomaspd commented on #1091
Yes, just to flesh out the options, in the order of my preference:

1. SGN stays the "authoritative source".  Like all the other authoritative sources, they convert both IEAs and IBAs (currently both using UniProt namespace) to SGN IDs and put them in their submitted GAF.

2. SGN changes status to contributor, and they convert their identifiers to UniProt, so the pipeline can merge them into the t

[2019-05-15 10:42] pgaudet opened #1092 "Lost all annotations to NCBITaxon:425011 and NCBITaxon:510516"
Hello,

Comparing the annotations from the latest release to that of the April release, it looks like we have lost all annotations to NCBITaxon:425011 (Aspergillus niger) and NCBITaxon:510516 (Aspergillus oryzae).
(see https://s3.amazonaws.com/geneontology-public/go-stats.tsv)

I suspect this is related to filtering these species out of the UniProt-all file and relying on AspDB to submit them; per

[2019-05-15 12:13] marekskrzypek commented on #1092
Hi Pascale,
There is quite a number of annotations in AspGD for both species, but they have a different taxon ID, for some reason. A. niger is 5061 and A. oryzae is 5062.

[2019-05-15 13:40] ValWood opened #1093 "finding amogi front page from the GO home page"
Is quite difficult.

How do s get to here: http://amigo.geneontology.org/amigo
this is our main tool, it shouldn't be hard to locate.

You can get to a browse link but this isn't the top level entry point.

Also, I thought the 'geeky' tools and guides was moving to be  replaced by a point to access tools. I have watched people click on this link looking for AmiGO !

The front page should be biolog

[2019-05-15 16:23] dustine32 commented on #1091
@thomaspd @kltm Thinking a bit more about handling IBAs. If SGN were to take it upon themselves to convert everything including IEAs to SGN namespace (Paul's #1), wouldn't the IBAs be stripped from the SGN file in accordance with [gorule-26](https://github.com/geneontology/go-site/blob/master/metadata/rules/gorule-0000026.md)? The onus would then be on PAINT to output SGN IDs in the `paint_sgn.gaf

[2019-05-15 17:32] pgaudet commented on #1092
Hi Marek,

here are the differences between last month's release and this month's:

**niger**
Taxon | Number annotations April | Number annotations May
-- | -- | --
NCBITaxon:425011  |  23322 | 0
NCBITaxon:5061 | 60287 |  66621

**oryzae**
Taxon | Number annotations April | Number annotations May
-- | -- | --
NCBITaxon:510516 | 13946  |  0
NCBITaxon:5062  |  54252 |  60337

So it seems to me, over

[2019-05-15 22:23] dougli1sqrd commented on #1092
@pgaudet your hypothesis is correct it seems. Looking at the metadata entry for aspgd NCBITaxon:425011 and NCBITaxon:510516 were added in the May release, which would mean in May annotations in goa_uniprot_all would be filtered that have those taxon IDs.

[2019-05-16 10:13] pgaudet commented on #1092
Ok - so these were the 'duplicate annotations'.

One question for @alexsign : (with a CGD example but it's the same process):
Q6FNQ2 (NCBITaxon:284593) has x ref to CGD:CAL0133042 (NCBITaxon:5478); should these entries have the same taxon ?

(I guess this is not a GO issue anymore, so I'l close).

Thanks, Pascale

[2019-05-16 10:13] #1092 closed

[2019-05-16 22:57] kltm commented on #1091
I think assuming the single namespace is, to some extent, a slightly new thing. For example:
[code]
Gives the output  of:
[code]
That is a count of namespace per taxon. This often seems to be the resource namespace plus UniProtKB. I point this out as there seems to be no current technical restriction on this other places.

[2019-05-16 23:02] thomaspd commented on #1091
Wow, wonders never cease!  We should address this at the next GO meeting.  I think it's really important for users that we have a single namespace per GAF.

[2019-05-17 08:03] pgaudet commented on #1091
@kltm
What *are* the namespaces ? (there are 2, but which ones?) Perhaps we can start to fix this before the GOC meeting?

Thanks, Pascale

[2019-05-17 22:01] kltm commented on #1091
@pgaudet As above, they are by and large the resource namespace and UniProtKB. The exceptions seem to be:
[code]

[2019-05-20 08:50] pgaudet commented on #1091
I think the namespace must take into account the type of object ? It seems correct to me that we use ComplexPortal, UniProtKB and RNAcentral for the same taxon.

@alexsign @vanaukenk

[2019-05-23 18:10] cmungall commented on #1091
Getting back to tomato and looking at the counts @kltm produced above (https://github.com/geneontology/go-site/issues/1091#issuecomment-492442631) - I was surprised by the differences as I would have expected goa to hoover up the sgn annotations - yet we have 1k IDAs in SGN and ~100 in the uniprot file.

It looks like the majority of these SGN gene IDs may not be mapped to UniProt IDs? If so this

[2019-05-23 22:22] kltm commented on #1091
From the software discussion today, with input from @thomaspd and @cmungall , we'll be *temporarily* going with the permissive approach and allow tomato to have two possible namespaces in different files. Literally, remove the filter from sgn.yaml, allowing annotations from both SGN and GOA. As implemented in https://github.com/geneontology/go-site/pull/1090
This is the current state of the pipeli

[2019-05-24 08:08] pgaudet commented on #1091
@kltm Can you open a ticket ? I think you would formulate the issue better than I would. We don't want this to fall through the cracks.

Thanks, Pascale

[2019-05-24 13:49] pgaudet commented on #576
We will develop guidelines: https://github.com/geneontology/go-annotation/issues/2060

[2019-05-24 13:49] #576 closed

[2019-05-24 17:40] kltm commented on #1091
@pgaudet I don't think there is anything more to do on this ticket as it stands.
I would correct myself and say it's more of a project unto itself (as in exhaustive software list) and still TBD.

[2019-05-27 09:25] pgaudet commented on #1091
Right, I was suggesting to open a ticket to make sure it doesn't fall to the cracks - can you open a ticket that gives a quick summary of what that project would be?

[2019-05-27 12:27] pgaudet opened #1094 "Export of UM-BBD_reactionID missing"
Hello,

The cross-refs to 'UM-BBD_reactionID:r1182' are not in our exports:

http://release.geneontology.org/2019-05-09/ontology/external2go/index.html
(we have  um-bbd_enzymeid2go and um-bbd_pathwayid2go  but not um-bbd_reactionid2go).

Thanks, Pascale

[2019-05-28 08:11] pgaudet opened #1095 "Remove all OWLTools (taxon) reports from pipeline"
I also see that there are now taxon check fails in some files - but there is a problem - for e.g.:
http://snapshot.geneontology.org/reports/aspgd-report.html

# GO_AR:0000013	Taxon-appropriate annotation check	Warning	count:	264280
260834	GO_AR:0000013	Warning	Could not retrieve a class for taxonCls: NCBITaxon:767769	AspGD	Aspbr1_0137236	Aspbr1_0137236 GO:0007165	AspGD_REF:ASPL0000166200	IEA	Inter

[2019-05-28 16:24] ValWood commented on #767
The main issue in this ticket was buried.   Some BP annotations are created with MF aspect.
I will open a new ticket for this but and remove it from this ticket.

[2019-05-28 16:26] ValWood opened #1096 "Some inferred annotations have the incorrect aspect"
from
https://github.com/geneontology/go-site/issues/767

here for example:

PomBase	SPAC14C4.08	mug5	contributes_to	GO:0032118	PMID:25736293	IC	GO:0106006	F	dynactin complex subunit Mug5		protein	taxon:4896	20170718	GOC-OWL	part_of(GO:0032118)

The term  annotated is
GO:0032118
GO:0032118 is A BIOLOGICAL PROCESS TERM
horsetail-astral microtubule organization (GO:0032118)

The aspect reported in th

[2019-05-28 16:30] ValWood commented on #767
the rest of this ticket is me moaning about redundancy, I think.

I'm pointing out that  GO:0032118  is inferred from GO:0106006, but we already made   GO:0032118. This will all be moot when the proposal to filter redundant inferences is implemented.

geneontology/go-site#943

[2019-05-28 16:30] #767 closed

[2019-05-28 16:31] ValWood commented on #1096
@cmungall commented

Yes, owltools

## incorrect aspect

The incorrect aspect issue was reported here: https://github.com/owlcollab/owltools/issues/237

The ticket was not closed, but I believed it was fixed by HyeongSik with this PR, which was merged: https://github.com/owlcollab/owltools/pull/239

However, it seems that he only implemented this for the basic annotation propagator, not for the an

[2019-05-28 16:37] ValWood opened #1097 "clean up of files hanging around"
https://github.com/geneontology/go-site/issues/524

do these directories/files need to be removed?

http://build.berkeleybop.org/job/gaf-check-pombase/lastSuccessfulBuild/artifact/gene_association.pombase.inf.gaf

they are old data

gaf-version: 2.0
!
! Date: 2018/06/15

[2019-05-28 16:40] ValWood commented on #524
OK, I think we can close this?

[2019-05-28 16:40] #524 closed

[2019-05-28 19:29] pgaudet commented on #943
Proposal is here:
https://docs.google.com/document/d/1ihIYZD_so8Gb06x6KE2GZZdJQ_ve0riy/edit

Discussed on today's QC call with @kltm @vanaukenk and @ValWood

Needs to be prioritized.

[2019-05-29 00:18] kltm commented on #469
I believe that this is already part of the pipeline:
http://current.geneontology.org/metadata/groups.ttl
http://current.geneontology.org/metadata/users.ttl

[2019-05-29 00:18] #469 closed

[2019-05-29 07:25] pgaudet commented on #1096
If annotations are being exported, this seems high priority.

[2019-05-29 07:30] ValWood commented on #1096
It is a bug, but it has been around for a long time and doesn't seem to trip anyone up (which is strange). Probably not a lot of code checks that the aspect matches the GO term...

It is a bit shoddy though.....

[2019-05-30 16:35] suzialeksander commented on #1061
Got a helpdesk email about missing cow annotations, I've narrowed it down to there not being a single IBA in goa_cow.gaf (test: UniProt O18971 definitely has IBAs in Protein2GO).  @dougli1sqrd I'm assuming this is the relevant ticket?

[2019-05-30 18:39] kltm commented on #1061
@suzialeksander @dougli1sqrd looking at our incoming products, it seems that there is no paint_goa_cow-src.gaf.gz (or any other paint_goa_cow*) as might be expected.
http://current.geneontology.org/products/annotations
This seems to be true on snapshot as well.

The two possibilities are that: 1) PAINT upstream does not supply cow or that 2) we are somehow not getting them (metadata issues)?

[2019-05-30 19:30] dougli1sqrd commented on #1061
@suzialeksander did they say what annotations are missing? Were they IBAs? Yeah we filter out IBAs from all non-PAINT sources. We expect IBAs to come in from a PAINT gaf. But as @kltm pointed out, we don't have a corresponding paint_goa_cow*.gaf. It's not in the metadata.

[2019-05-30 19:32] kltm commented on #1061
@dustine32 Is there actually a cow paint file that we're missing upstream?

[2019-05-30 19:43] kltm commented on #704
This is now MGI and WB and handled elsewhere.

[2019-05-30 19:43] #704 closed

[2019-05-30 19:46] suzialeksander commented on #1061
@dougli1sqrd Not a full list of errors, but the user provided GO IDs that are missing for PPARG.  I can't get others easily as BioMart is down.  I have a feeling these are all IBAs but only checked two, then looked at the IBA-less GAF:

Ensembl | Gene Ontology
-- | --
GO:0000122 |  
GO:0000976 |  
GO:0000977 |  
GO:0000981 |  
GO:0001103 |  
GO:0001227 |  
GO:0003677 | GO:0003677
GO:0003682 | GO:0

[2019-05-30 20:16] dustine32 commented on #1061
@kltm @dougli1sqrd Yeah the cow IBAs are in paint_other.gaf. Checking ftp://ftp.pantherdb.org/downloads/paint/presubmission/gene_association.paint_other.gaf.gz:
[code]

Assuming [9913](https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?id=9913) is the taxon ID for cow.

[2019-05-30 20:47] mugitty commented on #1061
@dustine32 9913 is what PANTHER uses for cow AKA Bos taurus (short letter code BOVIN)

[2019-05-30 21:12] kltm commented on #1061
Okay, great--thank you for the input. It seems that things are working as intended:

* All IBAs are filtered out, as PAINT is the only upstream resource for these within the current GO pipeline
* We get a hold of PAINT upstream; there is no separate goa_cow file to be appended, so no IBAs are appended to goa_cow
* There are GOA IBAs for cow, available as above (e.g. `zcat paint_other.gaf.gz | cut

[2019-05-30 21:51] suzialeksander commented on #1061
Great, thanks for looking into this.

[2019-05-30 21:51] #1061 closed

[2019-06-03 06:55] ValWood opened #1098 "Implement gorule-0000038 gorule required: ISS annotations must refer to a sequence with an EXP annotation"
A- Any term which has ISS annotations  but no EXP annotation (to term OR descendant)

Suggested by @cmungall  in
https://github.com/geneontology/go-ontology/issues/17435

B- We have also historically requested any  ISS/ISO where the object in the with field does not have the annotation (term or descendant), which is similar, but slightly different. I think UniProt already includes this rule (@alex

[2019-06-03 07:27] ValWood opened #1099 "missing annotation from F-P link"
![MP](https://user-images.githubusercontent.com/7359272/58783533-046a8d00-85d9-11e9-9cab-218a92be1d50.jpg)

GO:0046961 | proton-transporting ATPase activity, rotational mechanism | ISM with PF01813 | contributes_to | GO_REF:0000050 | 14

has a F-P link to

proton transmembrane transport

but we don't get this annotation through the inferred annotations?

[2019-06-03 22:38] pgaudet commented on #943
@lpalbou Can you give us feedback on the proposal ?
https://docs.google.com/document/d/1ihIYZD_so8Gb06x6KE2GZZdJQ_ve0riy/edit

[2019-06-03 22:52] pgaudet commented on #1098
Yes

[2019-06-11 16:20] pgaudet commented on #1068
These are still not in AmiGO. I think they are being filtered out.

[2019-06-11 16:47] pgaudet opened #1102 "Need to run checks (GORULES) on 'goa_uniprot_all_noiea' data"
These are not in our reports (http://release.geneontology.org/2019-06-09/reports/gorule-report.html)

Looks like the data is going in AmiGO and in all our products without checks ?

[2019-06-11 16:58] pgaudet opened #1103 "Need help with a query"
Hello,

For the QC group work, we need to have
*	GOID
*	LABEL
*	ASPECT
*	TOTAL DIRECT ANNOTATIONS
*	EXP DIRECT ANNOTATIONS
*	DO NOT ANNOTATE

For the following list of GO IDs:

GOID
--
GO:0009966
GO:0045860
GO:0016197
GO:0019538
GO:0005840
GO:0005773
GO:0005774
GO:0006605
GO:0000003
GO:0000166
GO:0000278
GO:0000280
GO:0000375
GO:0000377
GO:0000398
GO:0000785
GO:0001067
GO:0001932
GO:0001934
GO:000

[2019-06-11 19:14] lpalbou commented on #1103
It's a simple combination of two GOLr queries:

To get ID, Label, Aspect and do not annotate:
[code]

And to get the annotations:
[code]

[2019-06-11 22:59] pgaudet commented on #1102
To illustrate: 'GO:0005215 transporter activity' is filtered out by gorule-0000008 for all other files. We do have 50 annotations to GO:0005215 presumably coming from goa_uniprot_all_noiea.

Pascale

[2019-06-11 23:02] pgaudet commented on #1103
Thanks @lpalbou !!

[2019-06-11 23:02] #1103 closed

[2019-06-12 15:20] pgaudet commented on #1091
@dustine32 Can you let is know where this now stands ?

[2019-06-12 23:06] kltm commented on #1102
branch geneontology/goa_full_process_experiment

[2019-06-13 19:38] pgaudet opened #1105 "Annotation missing from AmiGO - and not in the reports"
Hello,

Reported by @RLovering

This annotation is in QuickGO but not in AmiGO. It's not in the error reports (at least not in http://release.geneontology.org/2019-06-09/reports/goa_human-report.html)

UniProtKB	P05067	APP		GO:0070206	PMID:19660551	IMP		P	Amyloid-beta precursor protein	APP,A4,AD1	protein	taxon:9606	20170710	ARUK-UCL	occurs_in(UBERON:0000955),part_of(GO:0007568),has_input(UniProtKB

[2019-06-13 20:44] kltm commented on #1105
Most basically:
[code]

So, I would hazard a couple of guesses. First, I have a hard time believing that col 2 there is legitimate in any way. Second, this is in the goa_uniprot_all file, which we would filter as it should be in goa_human--so wrong file for taxon:9606. By design, we should not see that annotation.

[2019-06-13 20:56] kltm commented on #1102
The latest experiment (https://build.geneontology.org/job/geneontology/job/pipeline/job/issue-go-site-1102-process-goa/) supports the reason that historically this has not been done, but this time with newer tools. Currently, ontobio is on track to time out at 20hrs for this step. I'm re-running the experiment with the timeout limit at 3 days just to get a gross idea of when it would complete.

[2019-06-13 21:02] pgaudet commented on #1105
Thanks @kltm

@alexsign This is odd - can you check ? When I dump the data as GAF from QuickGO 'P05067:PRO_0000000092' is in Col 17.

[2019-06-13 21:03] vanaukenk commented on #1105
Hi,
I need to dig a little deeper, but there may be two other things going on here:
1) At least one of the missing ARUK-UCL annotations may have been made after the release from which we downloaded annotations from AmiGO
2) I forgot to also grab any TAS/NAS/IC annotations; at least one of the ARUK-UCL annotations is a TAS annotation.  I'll add those annotations to the spreadsheet tomorrow.

[2019-06-14 00:45] pgaudet opened #1106 "New proposed rule gorule-0000053 : rule 'NOT' annotation should not have extension"
See PR here:
https://github.com/geneontology/go-site/pull/987

We have not yet decided if we want to implement this rule.

[2019-06-14 04:50] ValWood commented on #1106
we should implement this rule.

We can't use NOT to negate extensions, it would be ambiguous.

NOT always mean that the term does not happen. If  we want to negate an extension, a different mechanism is required.

Any annotations with NOT and an extension should be rejected. If the NOT applies to the term, the extension should be removed. If the NOT applies to the extension,  we can't  handle this

[2019-06-14 10:15] mah11 commented on #1106
We have 18.

[2019-06-14 12:18] alexsign commented on #1105
@kltm yes, you are right it's invalid identifier for col 2 in GAF, but it is valid col 2 for GPAD. The GOA is  GPAD centric and every time we unloading GAF we need to convert it appropriately. Thanks for noticing this bug is fixed now and next release the annotations should be corrected in both human specific and goa_uniprot_all gaf files.
@pgaudet The QuickGO is GPAD centric, but it dumps annotat

[2019-06-14 13:58] vanaukenk commented on #1105
Just to follow up on previous comment wrt other evidence codes, I've now added TAS/NAS/IC/RCA evidenced annotations to the three relevant spreadsheets.

[2019-06-14 15:10] pgaudet commented on #1105
Great ! Thanks for the quick response.

@alexsign you didn't reply about the annotation being in the wrong file; I suppose you also took care of that ?

Thanks, Pascale

[2019-06-14 15:48] alexsign commented on #1105
@pgaudet no, there was no annotations in the wrong file. The annotations was missing from goa_human_isoform.gaf and had incorrect col 2 in goa_uniprot_all.gaf. The GOA release files on the 3rd of July will have the corrected data. Please let me know if you need them earlier.

[2019-06-14 16:40] pgaudet commented on #1105
OK, thanks - all good, I don't think we need the data earlier, unless this bug affects many annotations ?
(Because if you do the release on July 3rd I assume that we get this in  the August GO release, so if a lot of annotations are impacted perhaps we'd like a new file before the next release).

Thanks, Pascale

[2019-06-14 18:37] kltm commented on #1105
@pgaudet A release can always be done after the 3rd.

On 6/14/19 9:40 AM, pgaudet wrote: